<section class="todos-exames" data-scroll-index='1'>
    <div class="secao-todos-exames">
        <div class="container">
            <div class="row">
                <div class="cabecalho-todos-exames">
                    <div class="titulo-todos-exames">
                        <h2>Exames mais procurados no Laboratório Mastellini</h2>
                    </div>
                    <div class="col-md-6 col-lg-6 col-12 subtitulo-todos-exames">
                        <p>Exames de Análises Clínicas sem burocracia e no momento que você precisar</p>
                    </div>
                </div>
                <div class="secao-exames-exibicao">
                    <div class="col-md-9 col-lg-9 col-12 exames-exibicao-lista">
                        <% for (let i=0; i < exames.length; i++) { %>
                            <div class="col-md-6 col-lg-6 col-12 posicao-cada-exame">
                                <div class="cada-exame-box">
                                    <a href="/exames/<%= exames[i].url %>">
                                        <p>
                                            <%= exames[i].titulo %>
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <div class="col-md-3 col-lg-3 col-12 div-box-descricao-posicao">
                        <div class="box-descricao-exames">
                            <div class="div-descricao-exames">
                                <p>Não encontrou o exame que estava procurando?</p>
                            </div>
                            <div class="div-subdescricao-exames">
                                <p>Entre em contato através da Central de Atendimento pelo WhatsApp:</p>
                            </div>
                            <div class="div-telefone-descricao-exames">
                                <p>(18) 99735-5652</p>
                            </div>
                            <div class="div-botao-descricao-exames">
                                <a href="https://wa.me/5518997355652" target="_blank">Enviar mensagem</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../components/card') %>