<section class="interna-exames" data-scroll-index='1'>
    <div class="secao-interna-exames">
        <div class="container">
            <div class="row">
                <!-- Header Title -->
                <div class="col-12 mb-4">
                    <div class="cabecalho-interna-exames">
                        <div class="titulo-todos-exames">
                            <h2>
                                <%=exame[0].titulo %>
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- Main Content Area -->
                <div class="row">
                    <!-- Left Content Column -->
                    <div class="col-lg-9 col-md-8 col-12 mb-4">
                        <div class="exames-exibicao-lista">
                            <div class="titulo-orientacoes">
                                <p>Orientações</p>
                            </div>
                            <div class="conteudo-orientacoes">
                                <%= exame[0].orientacao %>
                            </div>

                            <div class="titulo-orientacoes mt-4">
                                <p>Observações</p>
                            </div>
                            <div class="conteudo-orientacoes">
                                <%= exame[0].observacao %>
                            </div>
                        </div>
                    </div>

                    <!-- Right Sidebar Column -->
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="div-box-descricao-posicao">
                            <div class="box-descricao-interna-exames">
                                <div class="div-descricao-interna-exames">
                                    <p>Cobertura de Convênios</p>
                                </div>
                                <div class="div-subdescricao-interna-exames">
                                    <p>Para informações sobre a cobertura do convênio, consulte nossa Central de
                                        Atendimento
                                        pelo WhatsApp.</p>
                                </div>

                                <div class="div-descricao-interna-exames mt-3">
                                    <p>Preços e Pagamento Particular</p>
                                </div>
                                <div class="div-subdescricao-interna-exames">
                                    <p>Você sabia que o Laboratório Mastellini oferece parcelamento em até 10x sem juros
                                        e
                                        condições especiais para pagamento particular?</p>
                                </div>

                                <div class="div-botao-descricao-interna-exames mt-3">
                                    <a href="">Enviar mensagem</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../components/unidade', { unidades: unidades }) %>