<section class="todos-convenios" data-scroll-index='1'>
    <div class="secao-todos-convenios">
        <div class="container">
            <div class="row">
                <div class="cabecalho-todos-convenios">
                    <div class="col-md-5 col-lg-5 col-12 titulo-todos-convenios">
                        <h2>Convênios</h2>
                    </div>
                    <div class="col-md-5 col-lg-5 col-12 subtitulo-todos-convenios">
                        <p>Caso não encontre sua operadora de saúde ou plano, o Laboratório Mastellini possui condições
                            especiais para pagamento particular.</p>
                    </div>
                </div>
                <div class="lista-convenios">
                    <div class="col-md-4 col-lg-4 col-6 cada-convenio-tamanho">
                        <div class="cada-convenios">
                            <img src='image/convenios/apas_logo.png' alt="" class="img-fluid cada-img-convenio">
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 col-6 cada-convenio-tamanho">
                        <div class="cada-convenios">
                            <img src='image/convenios/bradesco_logo.png' alt="" class="img-fluid cada-img-convenio">
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 col-6 cada-convenio-tamanho">
                        <div class="cada-convenios">
                            <img src='image/convenios/santa_casa_logo.png' alt="" class="img-fluid cada-img-convenio">
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 col-6 cada-convenio-tamanho">
                        <div class="cada-convenios">
                            <img src='image/convenios/sao_francisco_logo.png' alt=""
                                class="img-fluid cada-img-convenio">
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 col-6 cada-convenio-tamanho">
                        <div class="cada-convenios">
                            <img src='image/convenios/sassom_logo.png' alt="" class="img-fluid cada-img-convenio">
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 col-6 cada-convenio-tamanho">
                        <div class="cada-convenios">
                            <img src='image/convenios/spa_logo.png' alt="" class="img-fluid cada-img-convenio">
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 col-6 cada-convenio-tamanho">
                        <div class="cada-convenios">
                            <img src='image/convenios/unimed_logo.png' alt="" class="img-fluid cada-img-convenio">
                        </div>
                    </div>







                </div>

            </div>
        </div>
    </div>
</section>