<section class="uteis" data-scroll-index='1'>
    <div class="secao-uteis">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="cada-uteis">
                        <div class="col-12 cabecalho-uteis">
                            <div class="col-2 icone-uteis">
                                <svg xmlns="http://www.w3.org/2000/svg" width="47" height="48" viewBox="0 0 47 48"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M47 39.4667C47 38.8773 46.522 38.4 45.9318 38.4H1.06818C0.478011 38.4 0 38.8773 0 39.4667V46.9333C0 47.5227 0.478011 48 1.06818 48H45.9318C46.522 48 47 47.5227 47 46.9333V39.4667ZM36.3182 26.6667C36.3182 26.0773 35.8402 25.6 35.25 25.6H1.06818C0.478011 25.6 0 26.0773 0 26.6667V34.1333C0 34.7227 0.478011 35.2 1.06818 35.2H35.25C35.8402 35.2 36.3182 34.7227 36.3182 34.1333V26.6667ZM17.0909 13.8667C17.0909 13.2773 16.6129 12.8 16.0227 12.8H1.06818C0.478011 12.8 0 13.2773 0 13.8667V21.3333C0 21.9227 0.478011 22.4 1.06818 22.4H16.0227C16.6129 22.4 17.0909 21.9227 17.0909 21.3333V13.8667ZM27.7727 1.06667C27.7727 0.477333 27.2947 0 26.7045 0H1.06818C0.478011 0 0 0.477333 0 1.06667V8.53333C0 9.12267 0.478011 9.6 1.06818 9.6H26.7045C27.2947 9.6 27.7727 9.12267 27.7727 8.53333V1.06667Z"
                                        fill="#13718A" />
                                </svg>
                            </div>
                            <div class="col-6 titulo-uteis">
                                <h2>Resultado de <span>Exames</span></h2>
                            </div>
                        </div>
                        <div class="col-8 conteudo-uteis">
                            <p>Clique no botão abaixo para acessar o resultado de seu exame online.</p>
                        </div>
                        <div class="col-8 button-uteis">
                            <a href="/home">
                                <div class="div-wrapper-2">
                                    <div class="text-wrapper">Consultar resultado</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="cada-uteis">
                        <div class="col-12 cabecalho-uteis">
                            <div class="col-2 icone-uteis">
                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="48" viewBox="0 0 35 48"
                                    fill="none">
                                    <path
                                        d="M17.4994 0C7.82452 0 0 7.7161 0 17.2569C0 27.5374 11.0495 41.7134 15.5998 47.1125C16.5994 48.2958 18.4252 48.2958 19.4248 47.1125C23.9493 41.7134 35 27.5374 35 17.2569C35 7.7161 27.1743 0 17.4994 0ZM17.4994 23.421C14.0495 23.421 11.2499 20.6602 11.2499 17.2581C11.2499 13.8559 14.0495 11.0951 17.4994 11.0951C20.9494 11.0951 23.749 13.8559 23.749 17.2581C23.749 20.6602 20.9494 23.421 17.4994 23.421Z"
                                        fill="#13718A" />
                                </svg>
                            </div>
                            <div class="col-6 titulo-uteis">
                                <h2>Nossas
                                    <span>Unidades</span>
                                </h2>
                            </div>
                        </div>
                        <div class="col-8 conteudo-uteis">
                            <p>Clique no botão abaixo para consultar nossas unidades e horários de atendimento.</p>
                        </div>
                        <div class="col-8 button-uteis">
                            <a href="/home">
                                <div class="div-wrapper-2">
                                    <div class="text-wrapper">Pesquisar unidades</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="cada-uteis">
                        <div class="col-12 cabecalho-uteis">
                            <div class="col-2 icone-uteis">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                    fill="none">
                                    <path
                                        d="M29.5312 25.3125H23.9062C23.13 25.3125 22.5 24.6825 22.5 23.9062V16.875H15.4688C14.6925 16.875 14.0625 16.245 14.0625 15.4688V9.84375C14.0625 9.0675 14.6925 8.4375 15.4688 8.4375H22.5V1.40625C22.5 0.63 23.13 0 23.9062 0H29.5312C30.3075 0 30.9375 0.63 30.9375 1.40625V8.4375H37.9688C38.745 8.4375 39.375 9.0675 39.375 9.84375V15.4688C39.375 16.245 38.745 16.875 37.9688 16.875H30.9375V23.9062C30.9375 24.6825 30.3075 25.3125 29.5312 25.3125Z"
                                        fill="#13718A" />
                                    <path
                                        d="M47.8003 30.7462C47.7094 29.5846 47.0963 28.5552 46.1184 27.9215C44.7253 27.0177 42.8831 27.1555 41.6391 28.2562L36.4556 32.8415C36.3731 36.2596 33.5691 39.0159 30.1313 39.0159H21.6253C20.8491 39.0159 20.2191 38.3859 20.2191 37.6096C20.2191 36.8334 20.8491 36.2034 21.6253 36.2034H30.1313C32.0728 36.2034 33.6469 34.6293 33.6469 32.6877C33.6469 30.7462 32.0728 29.1721 30.1313 29.1721H24.3656C23.1019 29.1721 21.8634 28.8168 20.7909 28.1474C17.0072 25.7821 12.09 26.354 8.94844 29.5227L0.407813 38.1393C0.14625 38.4027 0 38.758 0 39.1293V46.5937C0 47.3699 0.63 47.9999 1.40625 47.9999H10.7813C11.1609 47.9999 11.5247 47.8462 11.7891 47.5743L14.1872 45.1096H31.11C32.9625 45.1096 34.7419 44.428 36.1209 43.1905L46.5806 33.7996C47.4478 33.0215 47.8922 31.9087 47.8013 30.7471L47.8003 30.7462Z"
                                        fill="#13718A" />
                                </svg>
                            </div>
                            <div class="col-6 titulo-uteis">
                                <h2>Acesso para <span>Médico e Parceiro</span></h2>
                            </div>
                        </div>
                        <div class="col-8 conteudo-uteis">
                            <p>Clique no botão abaixo para realizar o acesso como parceiro ou médico.</p>
                        </div>
                        <div class="col-8 button-uteis">
                            <a href="/home">
                                <div class="div-wrapper-2">
                                    <div class="text-wrapper">Acessar área restrita</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>