<section class="section-coletas" data-scroll-index='2'>
    <div class="container">
        <div class="row">
            <div class="secao-coletas">
                <p class="text-wrapper-8 col-md-7 col-lg-7 col-sm-12">Atendimento com a comodidade que você merece
                </p>
                <div class="col-md-12 col-lg-12 col-sm-12 overlap-3">

                    <div class="coleta-domiciliar col-md-12 col-lg-12 col-sm-12 coleta-desktop">
                        <div class="col-md-3 col-lg-3 -col-sm-12 primeiro-bloco-coletas">
                            <div class="col-1 div-rectangles">
                                <div class="rectangle"></div>
                                <div class="rectangle-2"></div>
                            </div>
                            <div class="col-11 ico-titulo-coletas">
                                <div class="col-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="40" viewBox="0 0 42 40"
                                        fill="none">
                                        <path
                                            d="M41.2948 17.6736L34.9295 11.3083V3.95532C34.9295 2.62597 33.852 1.54841 32.5209 1.54841C31.1899 1.54841 30.1148 2.62597 30.1148 3.95532V6.49365L25.3756 1.75443C23.0323 -0.587209 18.9586 -0.583818 16.6203 1.75866L0.704525 17.6736C-0.234842 18.6147 -0.234842 20.1382 0.704525 21.0784C1.64474 22.0195 3.17079 22.0195 4.11015 21.0784L20.0243 5.1626C20.5431 4.64713 21.4562 4.64713 21.9725 5.1609L37.8892 21.0784C38.3614 21.549 38.9769 21.7829 39.5916 21.7829C40.2063 21.7829 40.8243 21.549 41.2948 21.0784C42.2351 20.1382 42.2351 18.6156 41.2948 17.6736Z"
                                            fill="#13718A" />
                                        <path
                                            d="M21.836 9.73131C21.374 9.26925 20.6245 9.26925 20.1642 9.73131L6.16439 23.7269C5.94311 23.9481 5.81848 24.2491 5.81848 24.5645V34.772C5.81848 37.1671 7.7608 39.1094 10.1558 39.1094H17.0866V28.3754H24.9119V39.1094H31.8435C34.2386 39.1094 36.1809 37.1671 36.1809 34.772V24.5645C36.1809 24.2499 36.0571 23.9481 35.835 23.7269L21.8369 9.73131H21.836Z"
                                            fill="#13718A" />
                                    </svg>
                                </div>
                                <div class="col-9">
                                    <p class="div-2">
                                        <span class="text-wrapper-11">Coleta </span> <span
                                            class="text-wrapper-6">Domiciliar</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 overlap-group-2">
                            <div class="group col-12">
                                <p class="text-wrapper-10">
                                    Com a rotina corrida, nem sempre é fácil ir ao laboratório para realizar exames.
                                    Por isso, o Laboratório Mastellini oferece o serviço de Coleta Domiciliar.
                                </p>

                                <div class="agendar-coletas">
                                    <a href="https://wa.me/5518997355652" target="_blank" rel="noopener noreferrer">
                                        <div class="group-2">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8"
                                                viewBox="0 0 5 8" fill="none">
                                                <path
                                                    d="M1.04138 7.99988C0.72888 7.99988 0.520384 7.90004 0.312377 7.69989C-0.104127 7.30005 -0.104127 6.70006 0.312377 6.29976L2.70837 3.99965L0.312378 1.70001C-0.104126 1.2997 -0.104126 0.699713 0.312378 0.299877C0.728882 -0.0999588 1.35388 -0.0999587 1.77087 0.299877L4.58337 2.99983C4.89587 3.29982 4.99988 3.59981 4.99988 3.99965C4.99988 4.39949 4.89587 4.69948 4.58337 4.99947L1.77087 7.69942C1.56238 7.89957 1.35437 7.99941 1.04187 7.99941L1.04138 7.99988Z"
                                                    fill="#13718A" />
                                            </svg>
                                            <div class="text-wrapper-9">Agendar coleta</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="img-coleta">
                            <img class="img-2 img-fluid" src='image/foto_domiciliar.png' />
                        </div>

                    </div>

                    <div class="coleta-domiciliar col-md-12 col-lg-12 col-sm-12 coleta-mobile">
                        <div class="col-md-3 col-lg-3 -col-sm-12 primeiro-bloco-coletas">
                            <div class="col-1 div-rectangles">
                                <div class="rectangle"></div>
                                <div class="rectangle-2"></div>
                            </div>
                            <div class="col-11 ico-titulo-coletas">
                                <div class="col-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="40" viewBox="0 0 42 40"
                                        fill="none">
                                        <path
                                            d="M41.2948 17.6736L34.9295 11.3083V3.95532C34.9295 2.62597 33.852 1.54841 32.5209 1.54841C31.1899 1.54841 30.1148 2.62597 30.1148 3.95532V6.49365L25.3756 1.75443C23.0323 -0.587209 18.9586 -0.583818 16.6203 1.75866L0.704525 17.6736C-0.234842 18.6147 -0.234842 20.1382 0.704525 21.0784C1.64474 22.0195 3.17079 22.0195 4.11015 21.0784L20.0243 5.1626C20.5431 4.64713 21.4562 4.64713 21.9725 5.1609L37.8892 21.0784C38.3614 21.549 38.9769 21.7829 39.5916 21.7829C40.2063 21.7829 40.8243 21.549 41.2948 21.0784C42.2351 20.1382 42.2351 18.6156 41.2948 17.6736Z"
                                            fill="#13718A" />
                                        <path
                                            d="M21.836 9.73131C21.374 9.26925 20.6245 9.26925 20.1642 9.73131L6.16439 23.7269C5.94311 23.9481 5.81848 24.2491 5.81848 24.5645V34.772C5.81848 37.1671 7.7608 39.1094 10.1558 39.1094H17.0866V28.3754H24.9119V39.1094H31.8435C34.2386 39.1094 36.1809 37.1671 36.1809 34.772V24.5645C36.1809 24.2499 36.0571 23.9481 35.835 23.7269L21.8369 9.73131H21.836Z"
                                            fill="#13718A" />
                                    </svg>
                                </div>
                                <div class="col-6">
                                    <p class="div-2">
                                        <span class="text-wrapper-11">Coleta </span> <span
                                            class="text-wrapper-6">Domiciliar</span>
                                    </p>
                                </div>
                                <div class="col-3 img-coleta">
                                    <img class="img-2 img-fluid" src='image/foto_domiciliar.png' />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 overlap-group-2">
                            <div class="group col-12">
                                <p class="text-wrapper-10">
                                    Com a rotina corrida, nem sempre é fácil ir ao laboratório para realizar exames.
                                    Por isso, o Laboratório Mastellini oferece o serviço de Coleta Domiciliar.
                                </p>

                                <div class="agendar-coletas">
                                    <a href="https://wa.me/5518997355652" target="_blank" rel="noopener noreferrer">
                                        <div class="group-2">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8"
                                                viewBox="0 0 5 8" fill="none">
                                                <path
                                                    d="M1.04138 7.99988C0.72888 7.99988 0.520384 7.90004 0.312377 7.69989C-0.104127 7.30005 -0.104127 6.70006 0.312377 6.29976L2.70837 3.99965L0.312378 1.70001C-0.104126 1.2997 -0.104126 0.699713 0.312378 0.299877C0.728882 -0.0999588 1.35388 -0.0999587 1.77087 0.299877L4.58337 2.99983C4.89587 3.29982 4.99988 3.59981 4.99988 3.99965C4.99988 4.39949 4.89587 4.69948 4.58337 4.99947L1.77087 7.69942C1.56238 7.89957 1.35437 7.99941 1.04187 7.99941L1.04138 7.99988Z"
                                                    fill="#13718A" />
                                            </svg>
                                            <div class="text-wrapper-9">Agendar coleta</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>































                    <div class="coleta-domiciliar col-md-12 col-lg-12 col-sm-12 coleta-desktop">
                        <div class="col-md-3 col-lg-3 -col-sm-12 primeiro-bloco-coletas">
                            <div class="col-1 div-rectangles">
                                <div class="rectangle"></div>
                                <div class="rectangle-2"></div>
                            </div>
                            <div class="col-11 ico-titulo-coletas">
                                <div class="col-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="32" viewBox="0 0 38 32"
                                        fill="none">
                                        <path
                                            d="M37.8471 12.0316L31.0924 0.548827C30.7829 0.0223067 30.1053 -0.156162 29.5754 0.148938L25.5275 2.48088L21.8819 1.14274C21.7475 1.09312 21.6117 1.05239 21.4751 1.01759C20.4487 0.756918 19.3606 0.903543 18.4322 1.43821L12.4056 4.90984C11.0741 5.67629 10.6184 7.37508 11.3866 8.7036C12.1547 10.0321 13.8573 10.4868 15.1888 9.72035L21.8024 5.9103C22.4912 5.51337 23.3403 5.51337 24.029 5.9103C24.029 5.9103 37.3535 13.5882 37.3958 13.6148L37.594 13.4519C38.0163 13.1046 38.1231 12.5033 37.8463 12.0323L37.8471 12.0316Z"
                                            fill="#13718A" />
                                        <path
                                            d="M36.1534 15.4601L22.915 7.83412L16.3014 11.6442C15.5295 12.0892 14.673 12.3158 13.8047 12.3158C13.3697 12.3158 12.9318 12.2588 12.4999 12.1433C11.207 11.7975 10.1271 10.9703 9.45767 9.81431C8.78896 8.65834 8.61083 7.3113 8.95744 6.02129C9.24318 4.9564 9.85919 4.03666 10.7164 3.3724L7.98665 1.80024C7.44263 1.487 6.74572 1.68472 6.44884 2.23716L0.132084 13.9894C-0.152174 14.5182 0.0355998 15.1765 0.556615 15.4764L1.13552 15.8097L2.15158 14.0546C2.99396 12.598 4.56517 11.6938 6.25142 11.6938C7.07896 11.6938 7.89611 11.913 8.61454 12.3269C9.02794 12.5654 9.39681 12.8587 9.71373 13.1971C10.2258 13.0105 10.7721 12.9105 11.3324 12.9105C12.16 12.9105 12.9771 13.1297 13.6956 13.5436C14.7903 14.1738 15.5726 15.1921 15.8999 16.4103C15.9362 16.5443 15.9644 16.6791 15.9889 16.8138C16.4439 16.919 16.884 17.0908 17.2922 17.3256C18.3869 17.9558 19.1699 18.974 19.4965 20.1922C19.5321 20.3262 19.5611 20.461 19.5856 20.5958C20.0405 20.7009 20.4806 20.8727 20.8881 21.1075C23.1473 22.4093 23.9244 25.3019 22.6204 27.556L21.2332 29.9532L24.2057 31.666C25.4036 32.3562 26.9354 31.9467 27.6272 30.7515C28.3189 29.5562 27.9085 28.0278 26.7106 27.3376L28.6388 28.4484C29.8367 29.1386 31.3685 28.7291 32.0602 27.5338C32.752 26.3386 32.3415 24.8101 31.1436 24.12L32.4291 24.8605C33.627 25.5507 35.1589 25.1412 35.8506 23.9459C36.5423 22.7507 36.1319 21.2223 34.934 20.5321L33.6485 19.7915C34.8464 20.4817 36.3783 20.0722 37.07 18.877C37.7617 17.6818 37.3513 16.1533 36.1534 15.4631V15.4601Z"
                                            fill="#13718A" />
                                        <path
                                            d="M19.7748 23.0306C18.5769 22.3404 17.0451 22.7499 16.3533 23.9452L17.0955 22.6626C17.7873 21.4673 17.3768 19.9389 16.1789 19.2487C14.981 18.5585 13.4492 18.968 12.7575 20.1633L13.4996 18.8807C14.1914 17.6854 13.7809 16.157 12.583 15.4668C11.3851 14.7766 9.85327 15.1861 9.16155 16.3813L8.41936 17.664C9.11108 16.4687 8.70065 14.9403 7.50276 14.2501C6.30487 13.5599 4.773 13.9694 4.08128 15.1646L1.39085 19.8145C0.699131 21.0097 1.10956 22.5382 2.30745 23.2283C3.50534 23.9185 5.03722 23.509 5.72894 22.3138C5.03722 23.509 5.44765 25.0375 6.64554 25.7276C7.84343 26.4178 9.3753 26.0083 10.067 24.8131C9.3753 26.0083 9.78573 27.5368 10.9836 28.2269C12.1815 28.9171 13.7134 28.5076 14.4051 27.3124C13.7134 28.5076 14.1238 30.0361 15.3217 30.7263C16.5196 31.4164 18.0515 31.0069 18.7432 29.8117L20.6914 26.4445C21.3832 25.2493 20.9727 23.7208 19.7748 23.0306Z"
                                            fill="#13718A" />
                                    </svg>
                                </div>
                                <div class="col-9">
                                    <p class="div-2">
                                        <span class="text-wrapper-11">Coleta </span> <span
                                            class="text-wrapper-6">Empresarial</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 overlap-group-2">
                            <div class="group col-12">
                                <p class="text-wrapper-10">
                                    Para otimizar o tempo e melhorar a qualidade de vida dos colaboradores, o
                                    Laboratório Mastellini oferece o serviço de Coleta Empresarial.
                                </p>

                                <div class="agendar-coletas">
                                    <a href="https://wa.me/5518997355652" target="_blank" rel="noopener noreferrer">
                                        <div class="group-2">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8"
                                                viewBox="0 0 5 8" fill="none">
                                                <path
                                                    d="M1.04138 7.99988C0.72888 7.99988 0.520384 7.90004 0.312377 7.69989C-0.104127 7.30005 -0.104127 6.70006 0.312377 6.29976L2.70837 3.99965L0.312378 1.70001C-0.104126 1.2997 -0.104126 0.699713 0.312378 0.299877C0.728882 -0.0999588 1.35388 -0.0999587 1.77087 0.299877L4.58337 2.99983C4.89587 3.29982 4.99988 3.59981 4.99988 3.99965C4.99988 4.39949 4.89587 4.69948 4.58337 4.99947L1.77087 7.69942C1.56238 7.89957 1.35437 7.99941 1.04187 7.99941L1.04138 7.99988Z"
                                                    fill="#13718A" />
                                            </svg>
                                            <div class="text-wrapper-9">Agendar coleta</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="img-coleta">
                            <img class="img-2 img-fluid" src='image/foto_empresarial.png' />
                        </div>

                    </div>

                    <div class="coleta-domiciliar col-md-12 col-lg-12 col-sm-12 coleta-mobile">
                        <div class="col-md-3 col-lg-3 -col-sm-12 primeiro-bloco-coletas">
                            <div class="col-1 div-rectangles">
                                <div class="rectangle"></div>
                                <div class="rectangle-2"></div>
                            </div>
                            <div class="col-11 ico-titulo-coletas">
                                <div class="col-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="32" viewBox="0 0 38 32"
                                        fill="none">
                                        <path
                                            d="M37.8471 12.0316L31.0924 0.548827C30.7829 0.0223067 30.1053 -0.156162 29.5754 0.148938L25.5275 2.48088L21.8819 1.14274C21.7475 1.09312 21.6117 1.05239 21.4751 1.01759C20.4487 0.756918 19.3606 0.903543 18.4322 1.43821L12.4056 4.90984C11.0741 5.67629 10.6184 7.37508 11.3866 8.7036C12.1547 10.0321 13.8573 10.4868 15.1888 9.72035L21.8024 5.9103C22.4912 5.51337 23.3403 5.51337 24.029 5.9103C24.029 5.9103 37.3535 13.5882 37.3958 13.6148L37.594 13.4519C38.0163 13.1046 38.1231 12.5033 37.8463 12.0323L37.8471 12.0316Z"
                                            fill="#13718A" />
                                        <path
                                            d="M36.1534 15.4601L22.915 7.83412L16.3014 11.6442C15.5295 12.0892 14.673 12.3158 13.8047 12.3158C13.3697 12.3158 12.9318 12.2588 12.4999 12.1433C11.207 11.7975 10.1271 10.9703 9.45767 9.81431C8.78896 8.65834 8.61083 7.3113 8.95744 6.02129C9.24318 4.9564 9.85919 4.03666 10.7164 3.3724L7.98665 1.80024C7.44263 1.487 6.74572 1.68472 6.44884 2.23716L0.132084 13.9894C-0.152174 14.5182 0.0355998 15.1765 0.556615 15.4764L1.13552 15.8097L2.15158 14.0546C2.99396 12.598 4.56517 11.6938 6.25142 11.6938C7.07896 11.6938 7.89611 11.913 8.61454 12.3269C9.02794 12.5654 9.39681 12.8587 9.71373 13.1971C10.2258 13.0105 10.7721 12.9105 11.3324 12.9105C12.16 12.9105 12.9771 13.1297 13.6956 13.5436C14.7903 14.1738 15.5726 15.1921 15.8999 16.4103C15.9362 16.5443 15.9644 16.6791 15.9889 16.8138C16.4439 16.919 16.884 17.0908 17.2922 17.3256C18.3869 17.9558 19.1699 18.974 19.4965 20.1922C19.5321 20.3262 19.5611 20.461 19.5856 20.5958C20.0405 20.7009 20.4806 20.8727 20.8881 21.1075C23.1473 22.4093 23.9244 25.3019 22.6204 27.556L21.2332 29.9532L24.2057 31.666C25.4036 32.3562 26.9354 31.9467 27.6272 30.7515C28.3189 29.5562 27.9085 28.0278 26.7106 27.3376L28.6388 28.4484C29.8367 29.1386 31.3685 28.7291 32.0602 27.5338C32.752 26.3386 32.3415 24.8101 31.1436 24.12L32.4291 24.8605C33.627 25.5507 35.1589 25.1412 35.8506 23.9459C36.5423 22.7507 36.1319 21.2223 34.934 20.5321L33.6485 19.7915C34.8464 20.4817 36.3783 20.0722 37.07 18.877C37.7617 17.6818 37.3513 16.1533 36.1534 15.4631V15.4601Z"
                                            fill="#13718A" />
                                        <path
                                            d="M19.7748 23.0306C18.5769 22.3404 17.0451 22.7499 16.3533 23.9452L17.0955 22.6626C17.7873 21.4673 17.3768 19.9389 16.1789 19.2487C14.981 18.5585 13.4492 18.968 12.7575 20.1633L13.4996 18.8807C14.1914 17.6854 13.7809 16.157 12.583 15.4668C11.3851 14.7766 9.85327 15.1861 9.16155 16.3813L8.41936 17.664C9.11108 16.4687 8.70065 14.9403 7.50276 14.2501C6.30487 13.5599 4.773 13.9694 4.08128 15.1646L1.39085 19.8145C0.699131 21.0097 1.10956 22.5382 2.30745 23.2283C3.50534 23.9185 5.03722 23.509 5.72894 22.3138C5.03722 23.509 5.44765 25.0375 6.64554 25.7276C7.84343 26.4178 9.3753 26.0083 10.067 24.8131C9.3753 26.0083 9.78573 27.5368 10.9836 28.2269C12.1815 28.9171 13.7134 28.5076 14.4051 27.3124C13.7134 28.5076 14.1238 30.0361 15.3217 30.7263C16.5196 31.4164 18.0515 31.0069 18.7432 29.8117L20.6914 26.4445C21.3832 25.2493 20.9727 23.7208 19.7748 23.0306Z"
                                            fill="#13718A" />
                                    </svg>
                                </div>
                                <div class="col-6">
                                    <p class="div-2">
                                        <span class="text-wrapper-11">Coleta </span> <span
                                            class="text-wrapper-6">Empresarial</span>
                                    </p>
                                </div>
                                <div class="col-3 img-coleta">
                                    <img class="img-2 img-fluid" src='image/foto_empresarial.png' />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 overlap-group-2">
                            <div class="group col-12">
                                <p class="text-wrapper-10">
                                    Para otimizar o tempo e melhorar a qualidade de vida dos colaboradores, o
                                    Laboratório Mastellini oferece o serviço de Coleta Empresarial.
                                </p>

                                <div class="agendar-coletas">
                                    <a href="https://wa.me/5518997355652" target="_blank" rel="noopener noreferrer">
                                        <div class="group-2">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8"
                                                viewBox="0 0 5 8" fill="none">
                                                <path
                                                    d="M1.04138 7.99988C0.72888 7.99988 0.520384 7.90004 0.312377 7.69989C-0.104127 7.30005 -0.104127 6.70006 0.312377 6.29976L2.70837 3.99965L0.312378 1.70001C-0.104126 1.2997 -0.104126 0.699713 0.312378 0.299877C0.728882 -0.0999588 1.35388 -0.0999587 1.77087 0.299877L4.58337 2.99983C4.89587 3.29982 4.99988 3.59981 4.99988 3.99965C4.99988 4.39949 4.89587 4.69948 4.58337 4.99947L1.77087 7.69942C1.56238 7.89957 1.35437 7.99941 1.04187 7.99941L1.04138 7.99988Z"
                                                    fill="#13718A" />
                                            </svg>
                                            <div class="text-wrapper-9">Agendar coleta</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>









                    <div class="coleta-domiciliar col-md-12 col-lg-12 col-sm-12 coleta-desktop">
                        <div class="col-md-3 col-lg-3 -col-sm-12 primeiro-bloco-coletas">
                            <div class="col-1 div-rectangles">
                                <div class="rectangle"></div>
                                <div class="rectangle-2"></div>
                            </div>
                            <div class="col-11 ico-titulo-coletas">
                                <div class="col-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="43" height="39" viewBox="0 0 43 39"
                                        fill="none">
                                        <path
                                            d="M41.934 19.0801C41.2698 18.4168 40.3864 18.0406 39.4484 18.0229L38.5037 18.0053L38.2568 17.0934C36.8444 11.8703 33.1077 7.73803 28.3448 5.68911C28.1886 5.62193 28.0324 5.784 28.1054 5.93767C28.5681 6.90754 28.8242 7.99414 28.8142 9.14036C28.7814 13.0291 25.6686 16.241 21.7832 16.3905C17.8978 16.54 14.4188 13.4364 14.1904 9.50648C14.177 9.27304 14.3668 9.07822 14.6002 9.07822H16.3023C16.5165 9.07822 16.6936 9.24281 16.7104 9.45526C16.9094 12.0013 19.1028 13.9956 21.7252 13.873C24.1823 13.758 26.1758 11.7645 26.2908 9.30747C26.4193 6.55654 24.2184 4.27754 21.496 4.27754C21.2516 4.27754 21.0073 4.28258 20.7646 4.29265H20.537C18.3378 4.28678 16.5223 2.61825 16.283 0.48116C16.2519 0.206571 16.0185 0 15.7422 0H14.308C13.9914 0 13.737 0.26955 13.7639 0.585285C13.8839 1.98342 14.4281 3.26232 15.267 4.29265H14.0485C11.8636 4.29265 10.0548 2.65268 9.78861 0.538261C9.75082 0.231763 9.49303 0 9.18317 0H7.87993C7.51717 0 7.23586 0.314056 7.27113 0.675136C7.56671 3.66454 9.80373 6.09218 12.6999 6.67662C8.87836 8.92455 5.94941 12.6067 4.73601 17.0942L4.48913 18.0061L3.54445 18.0238C2.60564 18.0414 1.72309 18.4168 1.05719 19.0818C0.375341 19.7645 -0.000854492 20.6731 -0.000854492 21.6396C-0.000854492 23.5962 1.58958 25.2185 3.54445 25.2554L4.48913 25.2731L4.73601 26.185C6.77653 33.7307 13.6681 39.0008 21.496 39.0008C29.3239 39.0008 36.2155 33.7307 38.256 26.185L38.5029 25.2731L39.4476 25.2554C41.4024 25.2185 42.9929 23.5962 42.9929 21.6396C42.9929 20.6739 42.6167 19.7645 41.9331 19.081L41.934 19.0801ZM13.37 20.2138C12.443 20.2138 11.662 20.8503 11.4412 21.7085C11.3664 21.9982 11.1145 22.2056 10.8156 22.2056C10.4461 22.2056 9.95992 22.2056 9.56525 22.2056C9.17058 22.2056 8.85736 21.8495 8.92286 21.4574C9.28058 19.3253 11.1389 17.6963 13.37 17.6963C15.6012 17.6963 17.4603 19.3253 17.8172 21.4574C17.8827 21.8504 17.5728 22.2056 17.1748 22.2056H15.9245C15.6255 22.2056 15.3736 21.9973 15.2989 21.7085C15.0772 20.8503 14.2962 20.2138 13.37 20.2138ZM21.4968 33.169C19.002 33.169 16.6491 31.948 15.1998 29.9419C14.9756 29.6312 15.0671 29.1954 15.3963 29.0006L16.4501 28.3784C16.7339 28.2104 17.1001 28.2818 17.2974 28.5455C18.2807 29.8563 19.8426 30.6507 21.496 30.6507C23.1494 30.6507 24.7105 29.8563 25.6946 28.5455C25.8928 28.2818 26.2581 28.2104 26.5419 28.3784L27.5957 29.0006C27.9257 29.1954 28.0164 29.6312 27.7922 29.9419C26.3429 31.948 23.9908 33.169 21.4952 33.169H21.4968ZM32.1789 22.2056C31.88 22.2056 31.6281 21.9973 31.5533 21.7085C31.3317 20.8503 30.5507 20.2138 29.6245 20.2138C28.6983 20.2138 27.9165 20.8503 27.6957 21.7085C27.6209 21.9982 27.369 22.2056 27.0701 22.2056H25.8197C25.4217 22.2056 25.111 21.8495 25.1773 21.4574C25.5351 19.3253 27.3934 17.6963 29.6245 17.6963C31.8556 17.6963 33.7148 19.3253 34.0717 21.4574C34.1372 21.8504 33.8273 22.2056 33.4293 22.2056H32.1789Z"
                                            fill="#13718A" />
                                    </svg>
                                </div>
                                <div class="col-9">
                                    <p class="div-2">
                                        <span class="text-wrapper-11">Coleta </span> <span
                                            class="text-wrapper-6">infantil</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 overlap-group-2">
                            <div class="group col-12">
                                <p class="text-wrapper-10">
                                    Para tornar a coleta de sangue infantil mais tranquila, oferecemos agendamento
                                    personalizado, garantindo um ambiente acolhedor e cuidadoso para seu filho.
                                </p>

                                <div class="agendar-coletas">
                                    <a href="https://wa.me/5518997355652" target="_blank" rel="noopener noreferrer">
                                        <div class="group-2">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8"
                                                viewBox="0 0 5 8" fill="none">
                                                <path
                                                    d="M1.04138 7.99988C0.72888 7.99988 0.520384 7.90004 0.312377 7.69989C-0.104127 7.30005 -0.104127 6.70006 0.312377 6.29976L2.70837 3.99965L0.312378 1.70001C-0.104126 1.2997 -0.104126 0.699713 0.312378 0.299877C0.728882 -0.0999588 1.35388 -0.0999587 1.77087 0.299877L4.58337 2.99983C4.89587 3.29982 4.99988 3.59981 4.99988 3.99965C4.99988 4.39949 4.89587 4.69948 4.58337 4.99947L1.77087 7.69942C1.56238 7.89957 1.35437 7.99941 1.04187 7.99941L1.04138 7.99988Z"
                                                    fill="#13718A" />
                                            </svg>
                                            <div class="text-wrapper-9">Agendar coleta</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="img-coleta">
                            <img class="img-2 img-fluid" src='image/foto_infantil.png' />
                        </div>

                    </div>

                    <div class="coleta-domiciliar col-md-12 col-lg-12 col-sm-12 coleta-mobile">
                        <div class="col-md-3 col-lg-3 -col-sm-12 primeiro-bloco-coletas">
                            <div class="col-1 div-rectangles">
                                <div class="rectangle"></div>
                                <div class="rectangle-2"></div>
                            </div>
                            <div class="col-11 ico-titulo-coletas">
                                <div class="col-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="32" viewBox="0 0 38 32"
                                        fill="none">
                                        <path
                                            d="M37.8471 12.0316L31.0924 0.548827C30.7829 0.0223067 30.1053 -0.156162 29.5754 0.148938L25.5275 2.48088L21.8819 1.14274C21.7475 1.09312 21.6117 1.05239 21.4751 1.01759C20.4487 0.756918 19.3606 0.903543 18.4322 1.43821L12.4056 4.90984C11.0741 5.67629 10.6184 7.37508 11.3866 8.7036C12.1547 10.0321 13.8573 10.4868 15.1888 9.72035L21.8024 5.9103C22.4912 5.51337 23.3403 5.51337 24.029 5.9103C24.029 5.9103 37.3535 13.5882 37.3958 13.6148L37.594 13.4519C38.0163 13.1046 38.1231 12.5033 37.8463 12.0323L37.8471 12.0316Z"
                                            fill="#13718A" />
                                        <path
                                            d="M36.1534 15.4601L22.915 7.83412L16.3014 11.6442C15.5295 12.0892 14.673 12.3158 13.8047 12.3158C13.3697 12.3158 12.9318 12.2588 12.4999 12.1433C11.207 11.7975 10.1271 10.9703 9.45767 9.81431C8.78896 8.65834 8.61083 7.3113 8.95744 6.02129C9.24318 4.9564 9.85919 4.03666 10.7164 3.3724L7.98665 1.80024C7.44263 1.487 6.74572 1.68472 6.44884 2.23716L0.132084 13.9894C-0.152174 14.5182 0.0355998 15.1765 0.556615 15.4764L1.13552 15.8097L2.15158 14.0546C2.99396 12.598 4.56517 11.6938 6.25142 11.6938C7.07896 11.6938 7.89611 11.913 8.61454 12.3269C9.02794 12.5654 9.39681 12.8587 9.71373 13.1971C10.2258 13.0105 10.7721 12.9105 11.3324 12.9105C12.16 12.9105 12.9771 13.1297 13.6956 13.5436C14.7903 14.1738 15.5726 15.1921 15.8999 16.4103C15.9362 16.5443 15.9644 16.6791 15.9889 16.8138C16.4439 16.919 16.884 17.0908 17.2922 17.3256C18.3869 17.9558 19.1699 18.974 19.4965 20.1922C19.5321 20.3262 19.5611 20.461 19.5856 20.5958C20.0405 20.7009 20.4806 20.8727 20.8881 21.1075C23.1473 22.4093 23.9244 25.3019 22.6204 27.556L21.2332 29.9532L24.2057 31.666C25.4036 32.3562 26.9354 31.9467 27.6272 30.7515C28.3189 29.5562 27.9085 28.0278 26.7106 27.3376L28.6388 28.4484C29.8367 29.1386 31.3685 28.7291 32.0602 27.5338C32.752 26.3386 32.3415 24.8101 31.1436 24.12L32.4291 24.8605C33.627 25.5507 35.1589 25.1412 35.8506 23.9459C36.5423 22.7507 36.1319 21.2223 34.934 20.5321L33.6485 19.7915C34.8464 20.4817 36.3783 20.0722 37.07 18.877C37.7617 17.6818 37.3513 16.1533 36.1534 15.4631V15.4601Z"
                                            fill="#13718A" />
                                        <path
                                            d="M19.7748 23.0306C18.5769 22.3404 17.0451 22.7499 16.3533 23.9452L17.0955 22.6626C17.7873 21.4673 17.3768 19.9389 16.1789 19.2487C14.981 18.5585 13.4492 18.968 12.7575 20.1633L13.4996 18.8807C14.1914 17.6854 13.7809 16.157 12.583 15.4668C11.3851 14.7766 9.85327 15.1861 9.16155 16.3813L8.41936 17.664C9.11108 16.4687 8.70065 14.9403 7.50276 14.2501C6.30487 13.5599 4.773 13.9694 4.08128 15.1646L1.39085 19.8145C0.699131 21.0097 1.10956 22.5382 2.30745 23.2283C3.50534 23.9185 5.03722 23.509 5.72894 22.3138C5.03722 23.509 5.44765 25.0375 6.64554 25.7276C7.84343 26.4178 9.3753 26.0083 10.067 24.8131C9.3753 26.0083 9.78573 27.5368 10.9836 28.2269C12.1815 28.9171 13.7134 28.5076 14.4051 27.3124C13.7134 28.5076 14.1238 30.0361 15.3217 30.7263C16.5196 31.4164 18.0515 31.0069 18.7432 29.8117L20.6914 26.4445C21.3832 25.2493 20.9727 23.7208 19.7748 23.0306Z"
                                            fill="#13718A" />
                                    </svg>
                                </div>
                                <div class="col-6">
                                    <p class="div-2">
                                        <span class="text-wrapper-11">Coleta </span> <span
                                            class="text-wrapper-6">infantil</span>
                                    </p>
                                </div>
                                <div class="col-3 img-coleta">
                                    <img class="img-2 img-fluid" src='image/foto_infantil.png' />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 overlap-group-2">
                            <div class="group col-12">
                                <p class="text-wrapper-10">
                                    Para tornar a coleta de sangue infantil mais tranquila, oferecemos agendamento
                                    personalizado, garantindo um ambiente acolhedor e cuidadoso para seu filho.
                                </p>

                                <div class="agendar-coletas">
                                    <a href="https://wa.me/5518997355652" target="_blank" rel="noopener noreferrer">
                                        <div class="group-2">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8"
                                                viewBox="0 0 5 8" fill="none">
                                                <path
                                                    d="M1.04138 7.99988C0.72888 7.99988 0.520384 7.90004 0.312377 7.69989C-0.104127 7.30005 -0.104127 6.70006 0.312377 6.29976L2.70837 3.99965L0.312378 1.70001C-0.104126 1.2997 -0.104126 0.699713 0.312378 0.299877C0.728882 -0.0999588 1.35388 -0.0999587 1.77087 0.299877L4.58337 2.99983C4.89587 3.29982 4.99988 3.59981 4.99988 3.99965C4.99988 4.39949 4.89587 4.69948 4.58337 4.99947L1.77087 7.69942C1.56238 7.89957 1.35437 7.99941 1.04187 7.99941L1.04138 7.99988Z"
                                                    fill="#13718A" />
                                            </svg>
                                            <div class="text-wrapper-9">Agendar coleta</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>







                </div>
            </div>
        </div>
    </div>
</section>