<section class="footer-pagina" data-scroll-index='7'>
    <div class="container">
        <div class="row">
            <div class="col-12 priminha-lnha-footer">

                <div class="col-md-4 col-lg-4 col-sm-4 bloco1-linha1">
                    <div class="img-logo-footer">
                        <div class="col-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="69" height="69" viewBox="0 0 69 69"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M43.6532 40.0769L51.2882 47.643C52.1978 48.5388 53.7069 48.5388 54.6165 47.643L60.6321 41.6824C61.5211 40.8004 61.5211 39.3534 60.6321 38.4713L54.6165 32.5108C53.7069 31.615 52.1909 31.615 51.2882 32.5108L43.6532 40.0769ZM25.241 40.0769L17.606 47.643C16.6964 48.5388 15.1873 48.5388 14.2777 47.643L8.26207 41.6824C7.37316 40.8004 7.37316 39.3534 8.26207 38.4713L14.2777 32.5108C15.1873 31.615 16.6964 31.615 17.606 32.5108L25.241 40.0769ZM34.4471 42.6265L41.455 49.7033C42.2888 50.544 42.2819 51.9428 41.455 52.7835L35.9355 58.3582C35.1224 59.1851 33.7787 59.1851 32.9656 58.3582L27.4461 52.7835C26.6192 51.9428 26.6192 50.544 27.4461 49.7033L34.454 42.6265H34.4471ZM34.4471 37.1207L44.0391 27.4392C45.1761 26.2884 45.1761 24.3728 44.0391 23.222L36.4799 15.5939C35.3636 14.4638 33.5306 14.4638 32.4143 15.5939L24.8551 23.222C23.7181 24.3728 23.7181 26.2884 24.8551 27.4392L34.4471 37.1207ZM18.488 13.8643L28.0593 4.20339C31.5736 0.654626 37.3275 0.654626 40.8418 4.20339L50.4131 13.8643C53.9274 17.4131 53.9274 23.2151 50.4131 26.7639L37.7685 39.5256L45.9272 47.7601C48.4561 50.3097 48.4561 54.4855 45.9272 57.042L39.0433 63.9949C36.5143 66.5444 32.3799 66.5444 29.8509 63.9949L22.967 57.042C20.4381 54.4924 20.4381 50.3166 22.967 47.7601L31.1257 39.5256L18.4811 26.7639C14.9668 23.2151 14.9668 17.4131 18.4811 13.8643M34.1232 0C52.9696 0 68.2465 15.2769 68.2465 34.1232C68.2465 52.9696 52.9696 68.2465 34.1232 68.2465C15.2769 68.2465 0 52.9696 0 34.1232C0 15.2769 15.2769 0 34.1232 0Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="col-10 px-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="233" height="30" viewBox="0 0 233 30"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M30.2107 29.4301H26.1106C25.5249 29.4301 25.077 28.9477 25.0426 28.362L23.9676 12.52C23.8849 11.3073 23.5266 11.7827 23.4094 11.9757L18.2965 20.7545C18.0277 21.2093 17.4558 21.5952 16.9941 21.5952H14.8373C14.3756 21.5952 13.8037 21.2093 13.5349 20.7545L8.76649 12.5683C8.24279 11.6656 7.96026 11.5898 7.89824 12.5131L6.82328 28.3551C6.78194 28.9408 6.34093 29.4232 5.75521 29.4232H1.65518C1.06946 29.4232 0.525094 28.9408 0.587111 28.3551L3.24007 1.35693C3.29519 0.771217 3.72243 0.28886 4.30814 0.28886H6.87841C7.39522 0.28886 8.04985 0.709199 8.32548 1.22601L15.4988 14.4908C15.7606 14.98 16.0501 15.0283 16.3808 14.4219L23.5128 1.22601C23.7884 0.709199 24.4431 0.28886 24.9599 0.28886H27.5646C28.1503 0.28886 28.5775 0.778108 28.6327 1.35693L31.2787 28.3551C31.3339 28.9408 30.7964 29.4232 30.2107 29.4232M34.9584 29.4301H38.9826C39.5615 29.4301 40.1472 28.9477 40.3884 28.362L42.428 23.3179H54.0735L56.1063 28.362C56.3406 28.9477 56.9332 29.4301 57.512 29.4301H61.5362C62.1151 29.4301 62.4872 28.9477 62.2322 28.362L50.7383 1.36383C50.5454 0.909033 50.1526 0.516257 49.7185 0.357768C49.622 0.316423 49.5049 0.28886 49.374 0.28886H47.1138C46.9898 0.28886 46.8726 0.309533 46.7693 0.357768C46.3282 0.509366 45.9424 0.909033 45.7425 1.36383L34.2487 28.362C34.0006 28.9477 34.3727 29.4301 34.9446 29.4301M45.839 17.9431H50.6626C51.393 17.9431 51.7651 17.2885 51.4757 16.6201L49.181 11.259C48.4851 9.76371 47.8856 9.94287 47.3205 11.2728L45.0397 16.6132C44.7571 17.2816 45.1086 17.9362 45.839 17.9362M75.9794 29.4301C72.6924 29.4301 67.6553 28.9615 64.7129 27.4317C63.5759 26.8598 63.2589 26.5979 63.7689 25.5367C64.4028 24.2137 65.9877 21.6228 66.8973 21.988C68.3375 22.5668 72.1618 23.6418 75.5797 23.6418C81.4162 23.6418 83.194 20.5754 79.0871 19.0456C76.0414 17.9155 71.6795 17.0817 68.4684 15.1248C61.7361 11.0109 63.2658 3.56888 70.639 1.22601C74.6839 -0.0556795 81.8986 -0.097024 85.8539 1.7566C86.667 2.10803 87.0735 2.49392 87.0735 2.90047C87.0735 3.45863 84.9787 7.23479 84.0002 7.23479C83.828 7.23479 83.3181 7.09697 82.4705 6.83512C81.1681 6.43545 77.5298 5.69814 74.9733 5.82906C71.4039 6.01511 69.2402 8.8748 72.9681 10.6388C75.7657 11.9619 80.8512 13.1264 83.0631 14.0153C89.0581 16.434 89.5198 24.4273 84.7169 27.2801C82.3189 28.7065 79.8106 29.4232 75.9794 29.4232M103.405 29.4163H99.3047C98.7259 29.4163 98.3262 28.9477 98.3262 28.3758V28.3482L98.5398 6.51814H90.6705C90.2157 6.51814 89.8367 6.11848 89.8367 5.54654V1.25357C89.8367 0.674746 90.2089 0.275079 90.6705 0.275079H112.225C112.68 0.275079 113.059 0.674746 113.059 1.25357V5.54654C113.059 6.12537 112.687 6.51814 112.225 6.51814H104.356L104.569 28.3482V28.3758C104.569 28.9546 104.17 29.4163 103.591 29.4163H103.405ZM169.315 0.275079H165.215C164.636 0.275079 164.237 0.743654 164.237 1.31559V1.34315L164.45 23.1732V28.2517L164.443 28.4378C164.443 29.0166 164.816 29.4163 165.277 29.4163H182.291C182.752 29.4163 183.124 29.0166 183.124 28.4378V24.1517C183.124 23.5729 182.752 23.1732 182.291 23.1732H170.259L170.473 1.34315V1.31559C170.473 0.736763 170.073 0.275079 169.494 0.275079H169.308H169.315ZM146.293 0.275079H142.193C141.614 0.275079 141.215 0.743654 141.215 1.31559V1.34315L141.435 23.1732V28.2517L141.428 28.4378C141.428 29.0166 141.8 29.4163 142.262 29.4163H159.275C159.73 29.4163 160.109 29.0166 160.109 28.4378V24.1517C160.109 23.5729 159.737 23.1732 159.275 23.1732H147.244L147.458 1.34315V1.31559C147.458 0.736763 147.058 0.275079 146.479 0.275079H146.293ZM117.696 0.275079H117.655C117.076 0.275079 116.683 0.743654 116.676 1.31559V1.34315L116.814 14.8422L116.676 28.3413V28.3689C116.676 28.9477 117.076 29.4094 117.655 29.4094H136.37C136.832 29.4094 137.204 29.0097 137.204 28.4309V24.1448C137.204 23.566 136.832 23.1663 136.37 23.1663H122.871L122.816 17.5779H131.788H131.809C132.263 17.5779 132.642 17.1782 132.642 16.5994V12.3133C132.642 11.7345 132.27 11.3348 131.809 11.3348H122.823L122.871 6.51125H136.37C136.832 6.51125 137.204 6.11159 137.204 5.53276V1.24668C137.204 0.667855 136.832 0.268188 136.37 0.268188H117.696V0.275079ZM192.344 29.4163H188.244C187.665 29.4163 187.266 28.9477 187.266 28.3758V28.3482L187.369 17.7088L187.266 1.35004V1.32248C187.266 0.743653 187.665 0.28197 188.244 0.28197H192.53C193.109 0.28197 193.509 0.750544 193.509 1.32248V1.35004L193.405 17.7088L193.509 28.3482V28.3758C193.509 28.9546 193.109 29.4163 192.53 29.4163H192.344ZM231.835 29.4163H227.735C227.157 29.4163 226.757 28.9477 226.757 28.3758V28.3482L226.86 17.7088L226.757 1.35004V1.32248C226.757 0.743653 227.157 0.28197 227.735 0.28197H232.022C232.6 0.28197 233 0.750544 233 1.32248V1.35004L232.897 17.7088L233 28.3482V28.3758C233 28.9546 232.6 29.4163 232.022 29.4163H231.835ZM216.255 18.1705L216.18 1.34315V1.31559C216.18 0.736763 216.579 0.275079 217.158 0.275079H221.444C222.023 0.275079 222.423 0.743654 222.423 1.31559V1.34315V28.3413V28.3689C222.423 28.9477 222.03 29.4094 221.444 29.4094H219.156C218.578 29.4094 217.82 28.9408 217.372 28.3689L217.358 28.3551L217.344 28.3413L204.252 12.5407L204.217 17.7019L204.321 28.3413V28.3689C204.321 28.9477 203.921 29.4094 203.342 29.4094H199.049C198.47 29.4094 198.071 28.9408 198.071 28.3689V28.3413L198.174 17.7019L198.071 1.34315V1.31559C198.071 0.736763 198.47 0.275079 199.049 0.275079H201.096C201.674 0.275079 202.432 0.743654 202.88 1.31559V1.32937L202.901 1.34315L216.235 18.1705H216.255Z"
                                    fill="white" />
                            </svg>
                        </div>
                    </div>
                    <div class="texto-bloco1-linha1">
                        <p>Os resultados dos exames laboratoriais podem ser influenciados por estados fisiológicos,
                            condições patológicas, uso de medicamentos, entre outros fatores. Somente o seu médico
                            está qualificado para interpretar esses resultados de maneira correta e precisa.</p>
                    </div>
                </div>

                <div class="col-md-2 col-lg-2 col-12 links-institucionais">
                    <h2>INSTITUCIONAL</h2>
                    <ul>
                        <li><a href="/">Página inicial</a></li>
                        <li><a href="/">Quem somos</a></li>
                        <li><a href="/">Convênios</a></li>
                        <li><a href="/">Fale conosco</a></li>
                        <li><a href="/">Controle de Qualidade</a></li>
                        <li><a href="/" target="_blank">Trabalhe conosco</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-lg-2 col-12 links-acesso-rapido">
                    <h2>ACESSO RÁPIDO</h2>
                    <ul>
                        <li><a href="/">Pesquisar exames</a></li>
                        <li><a href="/">Agendar exames</a></li>
                        <li><a href="/">Resultado de exames</a></li>
                        <li><a href="/">Pesquisar unidades</a></li>
                        <li><a href="">Atendimento domiciliar</a></li>
                        <li><a href="">Atendimento empresarial</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-lg-4 col-12 bloco3-linha1">
                    <div class="box-horarios-atendimentos">
                        <div class="col-12 titulo-horarios-atendimento">
                            <h2>Atendimento Pres. Prudente</h2>
                        </div>
                        <div class="col-12 descricao-horarios-atendimento">
                            <div class="col-1 icone-horarios-atendimento">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                                    fill="none">
                                    <path
                                        d="M11 0C4.92462 0 0 4.92462 0 11C0 17.0754 4.92462 22 11 22C17.0754 22 22 17.0754 22 11C22 4.92462 17.0754 0 11 0ZM15.1462 15.1462C14.9864 15.3043 14.7701 15.3926 14.5454 15.3915C14.3206 15.3926 14.1043 15.3043 13.9446 15.1462L10.3992 11.6008C10.2411 11.4411 10.1528 11.2248 10.1538 11V4.23077C10.1538 3.76327 10.532 3.38409 10.9989 3.38356C11.4664 3.38356 11.8456 3.76168 11.8462 4.22865V10.6441L15.1462 13.9356C15.4804 14.2625 15.4862 14.7982 15.1594 15.1324C15.1551 15.1372 15.1504 15.1414 15.1462 15.1456V15.1462Z"
                                        fill="#13718A" />
                                </svg>
                            </div>
                            <div class="col-11 texto-horarios-atendimento">
                                <p>Segunda - Sexta: 6h30 - 17h00</p>
                            </div>
                        </div>
                        <div class="col-12 descricao-horarios-atendimento">
                            <div class="col-1 icone-horarios-atendimento">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                                    fill="none">
                                    <path
                                        d="M11 0C4.92462 0 0 4.92462 0 11C0 17.0754 4.92462 22 11 22C17.0754 22 22 17.0754 22 11C22 4.92462 17.0754 0 11 0ZM15.1462 15.1462C14.9864 15.3043 14.7701 15.3926 14.5454 15.3915C14.3206 15.3926 14.1043 15.3043 13.9446 15.1462L10.3992 11.6008C10.2411 11.4411 10.1528 11.2248 10.1538 11V4.23077C10.1538 3.76327 10.532 3.38409 10.9989 3.38356C11.4664 3.38356 11.8456 3.76168 11.8462 4.22865V10.6441L15.1462 13.9356C15.4804 14.2625 15.4862 14.7982 15.1594 15.1324C15.1551 15.1372 15.1504 15.1414 15.1462 15.1456V15.1462Z"
                                        fill="#13718A" />
                                </svg>
                            </div>
                            <div class="col-11 texto-horarios-atendimento">
                                <p>Sábado: 7h00 - 11h00</p>
                            </div>
                        </div>
                        <div class="linha-separador-horarios"></div>
                        <div class="col-12 telefones-horarios-atendimento">
                            <div class="col-1 icone-horarios-atendimento">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                                    fill="none">
                                    <path
                                        d="M18.7769 3.17453C14.4805 -1.05924 7.5157 -1.05796 3.22055 3.17707C-1.07459 7.41211 -1.0733 14.2774 3.22313 18.5111C7.51957 22.7449 14.4844 22.7436 18.7795 18.509C20.8424 16.4751 22.0009 13.7166 22 10.8407C21.9996 7.96526 20.8403 5.20797 18.7769 3.17495V3.17453ZM16.659 15.1041C16.659 15.1041 16.6581 15.105 16.6577 15.1054V15.102L16.1004 15.648C15.3798 16.3676 14.3297 16.6636 13.3319 16.4286C12.3269 16.1634 11.3708 15.7411 10.5012 15.1782C9.69292 14.6691 8.94441 14.0741 8.26808 13.4036C7.64589 12.795 7.0873 12.1266 6.59961 11.4087C6.06637 10.6361 5.64441 9.79455 5.34578 8.90765C5.00332 7.86573 5.28692 6.723 6.07926 5.95469L6.73195 5.31132C6.91328 5.13174 7.20847 5.13089 7.39066 5.31005C7.39109 5.31047 7.39152 5.3109 7.39195 5.31132L9.45273 7.34265C9.63491 7.52138 9.63577 7.81236 9.45401 7.99194L9.45273 7.99321L8.24273 9.18592C7.89554 9.52433 7.85171 10.0622 8.14003 10.4511C8.57745 11.0432 9.06214 11.6001 9.58851 12.1173C10.1755 12.6984 10.8135 13.227 11.495 13.6967C11.889 13.9673 12.4231 13.922 12.7635 13.5883L13.9331 12.4172C14.1144 12.2376 14.4092 12.2367 14.5918 12.4159L14.5931 12.4172L16.6573 14.4557C16.8395 14.6344 16.8403 14.925 16.659 15.1046V15.1041Z"
                                        fill="#13718A" />
                                </svg>
                            </div>
                            <div class="col-11 texto-horarios-atendimento">
                                <p><span><a href="tel:+551839284938" target="_blank"
                                            style="text-decoration: none !important;color:#565656;"> (18)
                                            3928-4938</a></span></p>
                            </div>
                        </div>
                        <div class="col-12 telefones-horarios-atendimento">
                            <div class="col-1 icone-horarios-atendimento">

                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35"
                                    fill="none" style="    max-width: 23px;max-height: 23px;">
                                    <rect width="35" height="35" rx="17.5" fill="#13718A" />
                                    <path
                                        d="M25.339 9.63342C23.4629 7.70211 20.8694 6.65369 18.2208 6.65369C12.5924 6.65369 8.06763 11.2336 8.12281 16.8068C8.12281 18.5726 8.61943 20.2832 9.44714 21.8282L8.01245 27.0704L13.3649 25.6908C14.8548 26.5186 16.5102 26.9048 18.1656 26.9048C23.7388 26.9048 28.2636 22.3249 28.2636 16.7517C28.2636 14.0478 27.2152 11.5095 25.339 9.63342ZM18.2208 25.1942C16.7309 25.1942 15.2411 24.808 13.9719 24.0354L13.6408 23.8699L10.4404 24.6976L11.2681 21.5523L11.0474 21.2213C8.61943 17.3035 9.77822 12.1165 13.7512 9.6886C17.7242 7.26067 22.8559 8.41945 25.2838 12.3924C27.7118 16.3654 26.553 21.4972 22.58 23.9251C21.3109 24.7528 19.7658 25.1942 18.2208 25.1942ZM23.0766 19.0692L22.4697 18.7933C22.4697 18.7933 21.5868 18.4071 21.035 18.1312C20.9798 18.1312 20.9246 18.076 20.8694 18.076C20.7039 18.076 20.5935 18.1312 20.4832 18.1863C20.4832 18.1863 20.428 18.2415 19.6555 19.1244C19.6003 19.2348 19.4899 19.2899 19.3796 19.2899H19.3244C19.2692 19.2899 19.1588 19.2348 19.1037 19.1796L18.8278 19.0692C18.2208 18.7933 17.669 18.4622 17.2275 18.0208C17.1172 17.9104 16.9516 17.8001 16.8413 17.6897C16.455 17.3035 16.0688 16.862 15.7929 16.3654L15.7377 16.255C15.6825 16.1999 15.6825 16.1447 15.6273 16.0343C15.6273 15.924 15.6273 15.8136 15.6825 15.7584C15.6825 15.7584 15.9032 15.4825 16.0688 15.317C16.1791 15.2066 16.2343 15.0411 16.3447 14.9307C16.455 14.7652 16.5102 14.5445 16.455 14.3789C16.3998 14.103 15.7377 12.6131 15.5721 12.2821C15.4618 12.1165 15.3514 12.0613 15.1859 12.0062H15.0203C14.91 12.0062 14.7444 12.0062 14.5789 12.0062C14.4685 12.0062 14.3582 12.0613 14.2478 12.0613L14.1926 12.1165C14.0823 12.1717 13.9719 12.2821 13.8616 12.3372C13.7512 12.4476 13.696 12.558 13.5856 12.6683C13.1994 13.1649 12.9787 13.7719 12.9787 14.3789C12.9787 14.8204 13.089 15.2618 13.2546 15.6481L13.3097 15.8136C13.8064 16.862 14.4685 17.8001 15.3514 18.6278L15.5721 18.8485C15.7377 19.014 15.9032 19.1244 16.0136 19.2899C17.1724 20.2832 18.4967 21.0005 19.9866 21.3868C20.1521 21.442 20.3728 21.442 20.5384 21.4972C20.7039 21.4972 20.9246 21.4972 21.0902 21.4972C21.3661 21.4972 21.6971 21.3868 21.9179 21.2764C22.0834 21.1661 22.1938 21.1661 22.3041 21.0557L22.4145 20.9454C22.5248 20.835 22.6352 20.7798 22.7456 20.6695C22.8559 20.5591 22.9663 20.4487 23.0215 20.3384C23.1318 20.1177 23.187 19.8417 23.2422 19.5658C23.2422 19.4555 23.2422 19.2899 23.2422 19.1796C23.2422 19.1796 23.187 19.1244 23.0766 19.0692Z"
                                        fill="white" />
                                </svg>
                            </div>
                            <div class="col-11 texto-horarios-atendimento">
                                <p><span><a href="https://wa.me/5518997355652" target="_blank"
                                            style="text-decoration: none !important;color:#565656;!important"> (18)
                                            3928-4938</a></span></p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-12 segunda-lnha-footer">
                <div class="offset-md-4 col-md-8 col-lg-8 col-sm-12 bloco-linha-inferior-footer">
                    <div class="col-md-6 col-lg-6 col-12 bloco-logos-image-footes">
                        <div class="icons-logo-footer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="81" height="80" viewBox="0 0 81 80"
                                fill="none">
                                <path
                                    d="M19.0032 54.9983C19.1737 54.6883 19.4139 54.448 19.7201 54.2737C20.0262 54.0993 20.3711 54.014 20.7586 54.014C21.2352 54.014 21.6382 54.138 21.9792 54.3899C22.3163 54.6418 22.545 54.9828 22.6573 55.4168H21.584C21.5026 55.2502 21.3902 55.1223 21.243 55.0332C21.0957 54.944 20.9291 54.9014 20.7431 54.9014C20.4447 54.9014 20.2006 55.006 20.0146 55.2153C19.8286 55.4246 19.7356 55.7035 19.7356 56.0523C19.7356 56.4011 19.8286 56.6801 20.0146 56.8893C20.2006 57.0986 20.4447 57.2032 20.7431 57.2032C20.9291 57.2032 21.0957 57.1606 21.243 57.0714C21.3902 56.9823 21.5026 56.8583 21.584 56.6878H22.6573C22.545 57.1218 22.3163 57.4628 21.9792 57.7108C21.6421 57.9588 21.2352 58.0828 20.7586 58.0828C20.3711 58.0828 20.0223 57.9976 19.7201 57.8232C19.4139 57.6488 19.1776 57.4086 19.0032 57.1024C18.8327 56.7963 18.7474 56.4437 18.7474 56.0484C18.7474 55.6532 18.8327 55.3005 19.0032 54.9905V54.9983Z"
                                    fill="white" />
                                <path
                                    d="M24.7964 54.8393V55.6492H26.1022V56.4009H24.7964V57.2767H26.2728V58.0595H23.8237V54.0604H26.2728V54.8432H24.7964V54.8393Z"
                                    fill="white" />
                                <path
                                    d="M29.5161 58.0595L28.683 56.5482H28.4505V58.0595H27.474V54.0604H29.1093C29.4231 54.0604 29.6944 54.1147 29.9153 54.2271C30.1361 54.3356 30.3028 54.4867 30.4151 54.6804C30.5236 54.8742 30.5818 55.0873 30.5818 55.3198C30.5818 55.5872 30.5081 55.8236 30.357 56.0328C30.2059 56.2421 29.985 56.3893 29.6944 56.4784L30.6166 58.0633H29.5161V58.0595ZM28.4505 55.8584H29.055C29.2333 55.8584 29.3689 55.8158 29.458 55.7267C29.5471 55.6376 29.5936 55.5174 29.5936 55.3547C29.5936 55.1919 29.5471 55.0834 29.458 54.9943C29.3689 54.9052 29.2333 54.8626 29.055 54.8626H28.4505V55.8546V55.8584Z"
                                    fill="white" />
                                <path
                                    d="M34.6428 54.0604V54.8432H33.581V58.0633H32.6084V54.8432H31.5466V54.0604H34.6428Z"
                                    fill="white" />
                                <path d="M36.6772 54.0604V58.0595H35.7007V54.0604H36.6772Z" fill="white" />
                                <path
                                    d="M40.5562 54.0604V54.8432H38.9248V55.6879H40.1454V56.4474H38.9248V58.0672H37.9521V54.0682H40.5562V54.0604Z"
                                    fill="white" />
                                <path d="M42.6137 54.0604V58.0595H41.6411V54.0604H42.6137Z" fill="white" />
                                <path
                                    d="M43.9816 54.9982C44.1521 54.6882 44.3923 54.4479 44.6985 54.2735C45.0046 54.0992 45.3495 54.0139 45.737 54.0139C46.2136 54.0139 46.6166 54.1379 46.9576 54.3898C47.2947 54.6417 47.5234 54.9827 47.6357 55.4167H46.5624C46.481 55.25 46.3686 55.1222 46.2214 55.0331C46.0741 54.9439 45.9075 54.9013 45.7215 54.9013C45.4231 54.9013 45.179 55.0059 44.993 55.2152C44.807 55.4244 44.714 55.7034 44.714 56.0522C44.714 56.4009 44.807 56.6799 44.993 56.8892C45.179 57.0984 45.4231 57.2031 45.7215 57.2031C45.9075 57.2031 46.0741 57.1604 46.2214 57.0713C46.3686 56.9822 46.481 56.8582 46.5624 56.6877H47.6357C47.5234 57.1217 47.2947 57.4627 46.9576 57.7107C46.6205 57.9587 46.2136 58.0827 45.737 58.0827C45.3495 58.0827 45.0007 57.9974 44.6985 57.8231C44.3923 57.6487 44.156 57.4084 43.9816 57.1023C43.8111 56.7962 43.7258 56.4436 43.7258 56.0483C43.7258 55.6531 43.8111 55.3004 43.9816 54.9904V54.9982Z"
                                    fill="white" />
                                <path
                                    d="M51.2939 57.3542H49.802L49.5617 58.0595H48.5426L49.9919 54.0604H51.1195L52.5688 58.0595H51.538L51.2978 57.3542H51.2939ZM51.042 56.6024L50.546 55.1377L50.0577 56.6024H51.042Z"
                                    fill="white" />
                                <path
                                    d="M56.1764 54.3084C56.4903 54.4751 56.7344 54.7114 56.9088 55.0137C57.0831 55.3159 57.1684 55.6647 57.1684 56.0599C57.1684 56.4552 57.0831 56.8001 56.9088 57.1023C56.7344 57.4046 56.4903 57.641 56.1725 57.8076C55.8547 57.9742 55.4866 58.0595 55.0681 58.0595H53.5685V54.0604H55.0681C55.4905 54.0604 55.8586 54.1457 56.1725 54.3123L56.1764 54.3084ZM55.8702 56.9124C56.0756 56.7109 56.1764 56.4281 56.1764 56.0561C56.1764 55.6841 56.0756 55.4012 55.8702 55.1958C55.6649 54.9904 55.3781 54.8897 55.01 54.8897H54.5489V57.2147H55.01C55.3781 57.2147 55.6649 57.1139 55.8702 56.9124Z"
                                    fill="white" />
                                <path
                                    d="M59.1446 57.8386C58.8307 57.6642 58.5827 57.4201 58.3967 57.1062C58.2107 56.7923 58.1216 56.4397 58.1216 56.0483C58.1216 55.657 58.2146 55.3043 58.3967 54.9943C58.5827 54.6843 58.8307 54.4402 59.1446 54.2658C59.4585 54.0914 59.8033 54.0023 60.1792 54.0023C60.5551 54.0023 60.9 54.0914 61.2139 54.2658C61.5277 54.4402 61.7757 54.6843 61.954 54.9943C62.1361 55.3043 62.2252 55.657 62.2252 56.0483C62.2252 56.4397 62.1322 56.7923 61.9501 57.1062C61.768 57.4201 61.52 57.6642 61.21 57.8386C60.9 58.013 60.5551 58.1021 60.1792 58.1021C59.8033 58.1021 59.4585 58.013 59.1446 57.8386ZM60.9465 56.8931C61.1402 56.68 61.2332 56.401 61.2332 56.0483C61.2332 55.6957 61.1364 55.4128 60.9465 55.2036C60.7527 54.9943 60.5008 54.8858 60.1792 54.8858C59.8576 54.8858 59.598 54.9905 59.4081 55.1997C59.2143 55.409 59.1213 55.6918 59.1213 56.0483C59.1213 56.4048 59.2182 56.6838 59.4081 56.8931C59.6018 57.1023 59.8576 57.2108 60.1792 57.2108C60.5008 57.2108 60.7527 57.1062 60.9465 56.8931Z"
                                    fill="white" />
                                <path
                                    d="M16.5348 43.4468H19.8751V43.656H19.2744V50.9023H19.8751V51.1116H16.5348V50.9023H17.1354V43.656H16.5348V43.4468Z"
                                    fill="white" />
                                <path
                                    d="M23.7037 50.9876C24.0679 50.9876 24.3895 50.8907 24.6724 50.6931C24.9514 50.4954 25.0948 50.1971 25.0948 49.8018C25.0948 49.4066 24.9437 49.1004 24.6414 48.8873C24.3392 48.6742 23.909 48.492 23.351 48.3332C22.793 48.1782 22.3861 48.0387 22.1343 47.9224C21.8824 47.8062 21.6421 47.6512 21.4174 47.4613C20.964 47.0815 20.7393 46.4925 20.7393 45.6981C20.7393 45.0471 20.9718 44.4891 21.4329 44.0241C21.8979 43.5591 22.5295 43.3228 23.3316 43.3228C23.7192 43.3228 24.1222 43.3809 24.5407 43.4933C24.9592 43.6056 25.2227 43.6638 25.3234 43.6638C25.4242 43.6638 25.5172 43.5901 25.5985 43.4468H25.7187L25.7962 45.6594H25.6218C25.273 45.0239 24.9049 44.5163 24.5213 44.1326C24.1377 43.749 23.723 43.5591 23.2735 43.5591C22.824 43.5591 22.4753 43.6638 22.2273 43.873C21.9793 44.0823 21.8553 44.3574 21.8553 44.7061C21.8553 45.0549 22.0025 45.3184 22.297 45.5044C22.5915 45.6904 22.9558 45.8415 23.3859 45.9578C23.816 46.074 24.0989 46.1554 24.2345 46.198C24.3702 46.2407 24.5368 46.3027 24.7383 46.3802C24.9398 46.4577 25.1025 46.539 25.2304 46.6204C25.3583 46.7018 25.4939 46.8103 25.6373 46.9382C25.7807 47.066 25.8892 47.2055 25.9705 47.3605C26.1682 47.7093 26.265 48.1278 26.265 48.6083C26.265 49.3949 26.017 50.0304 25.5249 50.5071C25.0328 50.9837 24.3857 51.2239 23.5835 51.2239C23.1689 51.2239 22.6923 51.1697 22.1536 51.0612C21.6189 50.9527 21.3205 50.8984 21.2624 50.8984C21.1616 50.8984 21.0609 51.0069 20.9679 51.2278H20.8168L20.7083 48.6238H20.8943C21.2159 49.2593 21.6266 49.8134 22.1265 50.2862C22.6264 50.7589 23.1534 50.9992 23.7075 50.9992L23.7037 50.9876Z"
                                    fill="white" />
                                <path
                                    d="M30.6864 51.2201C29.4697 51.2201 28.559 50.8907 27.9545 50.2281C27.3539 49.5693 27.0516 48.6122 27.0516 47.3606C27.0516 46.1089 27.3733 45.1247 28.0204 44.4039C28.6675 43.687 29.582 43.3267 30.7639 43.3267C31.9458 43.3267 32.8371 43.6677 33.4416 44.3497C34.0422 45.0317 34.3444 46.0004 34.3444 47.2559C34.3444 48.5115 34.0383 49.4841 33.4299 50.1777C32.8216 50.8713 31.9071 51.2162 30.6864 51.2162V51.2201ZM32.0892 47.7287V46.9188C32.0892 45.5819 32.0233 44.741 31.8916 44.3923C31.7443 43.9893 31.5389 43.7413 31.2677 43.6483C31.1127 43.5902 30.9267 43.5592 30.7097 43.5592C30.4927 43.5592 30.3028 43.5902 30.1478 43.6483C29.9889 43.7064 29.861 43.8072 29.7603 43.9544C29.6595 44.1017 29.5743 44.2528 29.5123 44.4155C29.4503 44.5744 29.3999 44.803 29.365 45.0937C29.3224 45.5161 29.2992 46.1399 29.2992 46.9653V47.7519C29.2992 48.6432 29.334 49.2748 29.4038 49.6507C29.4735 50.0266 29.5588 50.294 29.6595 50.4567C29.8843 50.8132 30.2369 50.9915 30.7097 50.9915C31.287 50.9915 31.659 50.7473 31.8334 50.263C32.0039 49.7786 32.0892 48.9338 32.0892 47.7287Z"
                                    fill="white" />
                                <path
                                    d="M43.1563 46.8064C43.1563 48.2208 42.8463 49.3097 42.2302 50.0731C41.614 50.8365 40.7577 51.2162 39.6649 51.2162C38.8976 51.2162 38.297 51.069 37.863 50.7783C37.429 50.4877 37.212 50.108 37.212 49.6391C37.212 49.3485 37.3011 49.0927 37.4794 48.8796C37.6576 48.6626 37.894 48.558 38.1924 48.558C38.4908 48.558 38.7233 48.6355 38.8938 48.7943C39.0643 48.9532 39.1495 49.1392 39.1495 49.3523C39.1495 49.5655 39.1185 49.7553 39.0604 49.9142H38.731C38.6806 50.0227 38.6535 50.1661 38.6535 50.3366C38.6535 50.5071 38.731 50.6621 38.8899 50.7977C39.0488 50.9333 39.2774 50.9992 39.5835 50.9992C40.0718 50.9992 40.4283 50.7318 40.6492 50.201C40.87 49.6701 40.9863 48.7401 40.994 47.4226C40.6143 48.0154 40.0369 48.3099 39.2658 48.3099C38.6109 48.3099 38.0684 48.0968 37.646 47.6744C37.2236 47.2521 37.0105 46.6708 37.0105 45.9346C37.0105 45.0588 37.3011 44.4039 37.8824 43.9738C38.4636 43.5437 39.2038 43.3267 40.1105 43.3267C42.141 43.3267 43.1524 44.4853 43.1524 46.8064H43.1563ZM39.9051 47.9457C40.1531 47.9457 40.3624 47.8527 40.5329 47.6667C40.7034 47.4807 40.8197 47.2637 40.8817 47.0118C40.9437 46.7599 40.9747 46.4306 40.9747 46.0276C40.9747 45.6246 40.9747 45.3417 40.9708 45.1828C40.9708 45.0278 40.9592 44.8379 40.9437 44.6248C40.9282 44.4078 40.9049 44.2528 40.8662 44.1559C40.8313 44.059 40.7809 43.9544 40.7228 43.842C40.6143 43.6522 40.4128 43.5592 40.1221 43.5592C39.7928 43.5592 39.5486 43.6909 39.3898 43.9544C39.2658 44.1675 39.1921 44.5318 39.1728 45.0511C39.165 45.2332 39.1611 45.4812 39.1611 45.7912C39.1611 46.1012 39.1611 46.3414 39.165 46.5081C39.165 46.6747 39.1766 46.8529 39.1921 47.0389C39.2076 47.2249 39.2309 47.3644 39.2619 47.4613C39.2929 47.5582 39.3355 47.6473 39.3859 47.7364C39.4828 47.8837 39.6533 47.9534 39.9013 47.9534L39.9051 47.9457Z"
                                    fill="white" />
                                <path
                                    d="M47.0817 51.2201C46.0199 51.2201 45.2139 50.8636 44.6636 50.1467C44.1134 49.4298 43.8383 48.4301 43.8383 47.1474C43.8383 45.8648 44.1328 44.9038 44.7256 44.2722C45.3185 43.6405 46.1245 43.3267 47.1514 43.3267C48.1783 43.3267 48.9843 43.6405 49.5694 44.2683C50.1584 44.896 50.4491 45.8958 50.4491 47.2676C50.4491 48.6393 50.1546 49.643 49.5617 50.2707C48.9688 50.9023 48.1434 51.2162 47.0817 51.2162V51.2201ZM46.078 46.8607V47.8333C46.078 48.5425 46.0819 49.0423 46.0935 49.333C46.1051 49.6236 46.1439 49.9297 46.2098 50.2397C46.2757 50.5536 46.3803 50.7551 46.5275 50.8481C46.6748 50.9411 46.8453 50.9837 47.0429 50.9837C47.2405 50.9837 47.3878 50.9721 47.4847 50.9527C47.5815 50.9295 47.6707 50.8868 47.7482 50.8171C47.8257 50.7473 47.8877 50.6776 47.938 50.6078C47.9884 50.5381 48.031 50.4296 48.0659 50.2862C48.0969 50.139 48.1279 50.0072 48.1473 49.8832C48.1667 49.7592 48.1822 49.5771 48.1899 49.3368C48.2054 48.868 48.2132 48.3991 48.2132 47.9263V46.9614C48.2132 45.5316 48.1589 44.6054 48.0543 44.1869C47.9497 43.7684 47.6474 43.5592 47.1514 43.5592C46.6554 43.5592 46.3532 43.7762 46.2447 44.2063C46.1361 44.6364 46.0819 45.5238 46.0819 46.8646L46.078 46.8607Z"
                                    fill="white" />
                                <path
                                    d="M54.3473 51.2201C53.2855 51.2201 52.4795 50.8636 51.9293 50.1467C51.379 49.4298 51.1039 48.4301 51.1039 47.1474C51.1039 45.8648 51.3984 44.9038 51.9913 44.2722C52.5841 43.6405 53.3901 43.3267 54.417 43.3267C55.4439 43.3267 56.2499 43.6405 56.835 44.2683C57.4241 44.896 57.7147 45.8958 57.7147 47.2676C57.7147 48.6393 57.4202 49.643 56.8273 50.2707C56.2344 50.9023 55.409 51.2162 54.3473 51.2162V51.2201ZM53.3475 46.8607V47.8333C53.3475 48.5425 53.3514 49.0423 53.363 49.333C53.3747 49.6236 53.4134 49.9297 53.4793 50.2397C53.5451 50.5536 53.6498 50.7551 53.797 50.8481C53.9443 50.9411 54.1148 50.9837 54.3124 50.9837C54.51 50.9837 54.6573 50.9721 54.7542 50.9527C54.851 50.9295 54.9402 50.8868 55.0177 50.8171C55.0952 50.7473 55.1572 50.6776 55.2075 50.6078C55.2579 50.5381 55.3005 50.4296 55.3354 50.2862C55.3664 50.139 55.3974 50.0072 55.4168 49.8832C55.4362 49.7592 55.4517 49.5771 55.4594 49.3368C55.4749 48.868 55.4827 48.3991 55.4827 47.9263V46.9614C55.4827 45.5316 55.4284 44.6054 55.3238 44.1869C55.2192 43.7684 54.9169 43.5592 54.4209 43.5592C53.9249 43.5592 53.6227 43.7762 53.5142 44.2063C53.4057 44.6364 53.3514 45.5238 53.3514 46.8646L53.3475 46.8607Z"
                                    fill="white" />
                                <path
                                    d="M59.4314 43.7297L58.2263 43.8847L58.203 43.6677L60.6753 43.3267H61.5627V50.9023H62.4152V51.1116H58.2766V50.9023H59.4275V43.7335L59.4314 43.7297Z"
                                    fill="white" />
                                <path
                                    d="M39.9985 33.209L33.2637 26.4742L35.3833 24.3545L39.9985 28.9697L49.6938 19.2705C47.3804 16.4921 43.8967 14.7212 39.9985 14.7212C33.0312 14.7212 27.3852 20.3671 27.3852 27.3344C27.3852 34.3017 33.0312 39.9477 39.9985 39.9477C46.9658 39.9477 52.6117 34.3017 52.6117 27.3344C52.6117 25.3659 52.1622 23.5059 51.3562 21.8474L39.9946 33.209H39.9985ZM39.9481 8.41654C22.5608 8.41654 8.41309 22.5643 8.41309 39.9515C8.41309 57.3388 22.5608 71.4865 39.9481 71.4865C57.3353 71.4865 71.4831 57.3388 71.4831 39.9515C71.4831 22.5643 57.3392 8.41654 39.9481 8.41654ZM39.9481 69.4211C23.673 69.4211 10.4785 56.2267 10.4785 39.9515C10.4785 23.6764 23.673 10.4781 39.9481 10.4781C56.2232 10.4781 69.4177 23.6725 69.4177 39.9477C69.4177 56.2228 56.2232 69.4173 39.9481 69.4173V69.4211ZM79.1711 41.1373C76.8849 39.0952 76.6369 35.6076 78.6054 33.2594L79.3184 32.4068L78.3303 31.8798C75.6332 30.4345 74.5637 27.1097 75.92 24.3623L76.416 23.3587L75.3387 23.0797C72.3705 22.3124 70.5492 19.3325 71.2157 16.341L71.4598 15.256L70.3516 15.2366C67.2864 15.1901 64.8142 12.7139 64.7638 9.6488L64.7483 8.54054C61.1523 9.34654 57.5678 7.15328 56.6495 3.58437H56.6417C53.3402 5.21188 49.345 3.92925 47.6051 0.685849V0.678099H47.6013C44.7764 3.04574 40.5836 2.74349 38.1307 -0.00390625C36.2746 2.80162 32.4034 3.39837 29.7955 1.27485V1.2826C28.5787 4.41363 24.9246 5.81251 21.9292 4.28963H21.9214C21.3906 7.61053 18.1084 9.74567 14.8573 8.88154C15.0278 12.2373 12.2571 15.008 8.90135 14.8375C9.7616 18.0886 7.63033 21.3708 4.30943 21.9016H4.30556L4.31331 21.9133C5.83232 24.9087 4.43731 28.5589 1.30629 29.7718H1.29466L1.30629 29.7873C3.42205 32.3913 2.82917 36.2548 0.0314005 38.1031L0.0197754 38.1109L0.849032 38.851C3.1353 40.8932 3.3833 44.3807 1.41479 46.729L0.701781 47.5815L1.68991 48.1085C4.38693 49.5539 5.45644 52.8786 4.10018 55.626L3.60418 56.6297L4.68144 56.9087C7.64971 57.6759 9.47097 60.6558 8.80447 63.6473L8.56034 64.7324L9.6686 64.7478C12.7338 64.7943 15.206 67.2705 15.2564 70.3356L15.2719 71.4439L16.3608 71.1998C19.3523 70.5294 22.3322 72.3545 23.0995 75.3228L23.3785 76.4001L24.3821 75.9041C27.1256 74.5478 30.4504 75.6173 31.8996 78.3143L32.4305 79.3025L33.283 78.5856C35.6313 76.6171 39.1188 76.8651 41.161 79.1513L41.9011 79.9806L41.9089 79.969C43.7572 77.1673 47.6206 76.5744 50.2247 78.6941L50.2363 78.7018V78.6902C51.4569 75.5592 55.1072 74.1642 58.1026 75.6832L58.1142 75.6909C58.6451 72.37 61.9273 70.2349 65.1745 71.0952H65.1784C65.0079 67.7394 67.7786 64.9687 71.1343 65.1392C70.2741 61.8881 72.4053 58.6059 75.7262 58.075H75.7301L75.7224 58.0634C74.2034 55.068 75.5984 51.4177 78.7294 50.2049H78.741L78.7294 50.1894C76.6136 47.5853 77.2065 43.7219 80.0043 41.8736L80.0159 41.8658L79.1866 41.1257L79.1711 41.1373ZM39.9481 74.4819C20.9062 74.4819 5.41382 58.9896 5.41382 39.9477C5.41382 20.9058 20.9101 5.41726 39.9481 5.41726C58.9861 5.41726 74.4824 20.9096 74.4824 39.9515C74.4824 58.9934 58.99 74.4858 39.9481 74.4858V74.4819Z"
                                    fill="white" />
                            </svg>
                        </div>

                        <div class="icons-logo-footer">
                            <img src='image/logo_sbac-pncq.png' alt="">
                        </div>
                        <div class=" icons-logo-footer">
                            <img src='image/logo_controllab_primario_COR.png' alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-12 bloco-logos-redes-footer">
                        <div class="titulo-redes">
                            <h2>Acompanhe nas redes sociais:</h2>
                        </div>

                        <div class="todos-icones-resdes">

                            <div class="icon-redes">
                                <a href="https://www.facebook.com/laboratoriomastellini" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35"
                                        fill="none">
                                        <rect width="35" height="35" rx="17.5" fill="#00CBEC" />
                                        <path
                                            d="M18.6685 29.1666V18.5231H22.2411L22.7759 14.3752H18.6685V11.7269C18.6685 10.526 19.002 9.7075 20.7242 9.7075L22.9207 9.70649V5.99664C22.5407 5.94628 21.2369 5.83337 19.7201 5.83337C16.5532 5.83337 14.3851 7.76633 14.3851 11.3163V14.3753H10.8033V18.5232H14.385V29.1667L18.6685 29.1666Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>

                            <div class="icon-redes">
                                <a href="https://www.instagram.com/laboratoriomastellini/" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35"
                                        fill="none">
                                        <rect width="35" height="35" rx="17.5" fill="#00CBEC" />
                                        <path
                                            d="M13.8552 17.5C13.8552 15.4865 15.487 13.8539 17.5004 13.8539C19.5139 13.8539 21.1466 15.4865 21.1466 17.5C21.1466 19.5135 19.5139 21.1461 17.5004 21.1461C15.487 21.1461 13.8552 19.5135 13.8552 17.5ZM11.8842 17.5C11.8842 20.6019 14.3986 23.1163 17.5004 23.1163C20.6023 23.1163 23.1167 20.6019 23.1167 17.5C23.1167 14.3981 20.6023 11.8837 17.5004 11.8837C14.3986 11.8837 11.8842 14.3981 11.8842 17.5ZM22.0265 11.661C22.0264 11.9206 22.1033 12.1744 22.2474 12.3903C22.3916 12.6062 22.5965 12.7745 22.8363 12.874C23.0761 12.9734 23.34 12.9995 23.5946 12.9489C23.8492 12.8984 24.0831 12.7735 24.2667 12.59C24.4504 12.4065 24.5755 12.1727 24.6262 11.9181C24.677 11.6636 24.6511 11.3996 24.5518 11.1598C24.4526 10.9199 24.2844 10.7149 24.0687 10.5706C23.8529 10.4262 23.5991 10.3492 23.3396 10.3491H23.339C22.9911 10.3492 22.6574 10.4875 22.4113 10.7335C22.1652 10.9795 22.0268 11.3131 22.0265 11.661ZM13.0817 26.4029C12.0153 26.3543 11.4357 26.1767 11.0505 26.0266C10.5399 25.8278 10.1755 25.591 9.79246 25.2085C9.40939 24.8259 9.17226 24.4619 8.97434 23.9513C8.82419 23.5663 8.64656 22.9865 8.59809 21.9202C8.54506 20.7673 8.53448 20.4209 8.53448 17.5001C8.53448 14.5793 8.54594 14.2339 8.59809 13.08C8.64665 12.0137 8.82559 11.435 8.97434 11.0489C9.17314 10.5382 9.40991 10.1739 9.79246 9.79081C10.175 9.40774 10.539 9.17061 11.0505 8.97269C11.4355 8.82254 12.0153 8.64491 13.0817 8.59644C14.2346 8.54341 14.5809 8.53282 17.5004 8.53282C20.42 8.53282 20.7666 8.54429 21.9205 8.59644C22.9869 8.645 23.5655 8.82394 23.9516 8.97269C24.4623 9.17061 24.8266 9.40826 25.2097 9.79081C25.5928 10.1734 25.829 10.5382 26.0278 11.0489C26.178 11.4339 26.3556 12.0137 26.4041 13.08C26.4571 14.2339 26.4677 14.5793 26.4677 17.5001C26.4677 20.4209 26.4571 20.7663 26.4041 21.9202C26.3555 22.9865 26.177 23.5661 26.0278 23.9513C25.829 24.4619 25.5923 24.8263 25.2097 25.2085C24.8272 25.5907 24.4623 25.8278 23.9516 26.0266C23.5666 26.1768 22.9869 26.3544 21.9205 26.4029C20.7676 26.4559 20.4213 26.4665 17.5004 26.4665C14.5796 26.4665 14.2342 26.4559 13.0817 26.4029ZM12.9911 6.62874C11.8268 6.68176 11.0311 6.86639 10.3363 7.13676C9.61668 7.41597 9.0075 7.79056 8.39876 8.39834C7.79003 9.00611 7.4164 9.61625 7.13719 10.3359C6.86681 11.0311 6.68219 11.8263 6.62916 12.9907C6.57526 14.1569 6.56293 14.5297 6.56293 17.5C6.56293 20.4703 6.57526 20.8431 6.62916 22.0093C6.68219 23.1738 6.86681 23.9689 7.13719 24.6642C7.4164 25.3833 7.79011 25.9942 8.39876 26.6017C9.00741 27.2092 9.61668 27.5832 10.3363 27.8632C11.0324 28.1336 11.8268 28.3182 12.9911 28.3713C14.1579 28.4243 14.5302 28.4375 17.5004 28.4375C20.4707 28.4375 20.8435 28.4252 22.0097 28.3713C23.1742 28.3182 23.9693 28.1336 24.6646 27.8632C25.3837 27.5832 25.9933 27.2094 26.6021 26.6017C27.2108 25.9939 27.5837 25.3833 27.8637 24.6642C28.134 23.9689 28.3195 23.1737 28.3717 22.0093C28.4247 20.8422 28.437 20.4703 28.437 17.5C28.437 14.5297 28.4247 14.1569 28.3717 12.9907C28.3187 11.8262 28.134 11.0307 27.8637 10.3359C27.5837 9.61669 27.2099 9.00708 26.6021 8.39834C25.9943 7.7896 25.3837 7.41597 24.6655 7.13676C23.9693 6.86639 23.1741 6.68089 22.0106 6.62874C20.8444 6.57571 20.4716 6.5625 17.5013 6.5625C14.531 6.5625 14.1579 6.57484 12.9911 6.62874Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>

                            <div class="icon-redes">
                                <a href="https://wa.me/5518997355652" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35"
                                        fill="none">
                                        <rect width="35" height="35" rx="17.5" fill="#00CBEC" />
                                        <path
                                            d="M25.339 9.63342C23.4629 7.70211 20.8694 6.65369 18.2208 6.65369C12.5924 6.65369 8.06763 11.2336 8.12281 16.8068C8.12281 18.5726 8.61943 20.2832 9.44714 21.8282L8.01245 27.0704L13.3649 25.6908C14.8548 26.5186 16.5102 26.9048 18.1656 26.9048C23.7388 26.9048 28.2636 22.3249 28.2636 16.7517C28.2636 14.0478 27.2152 11.5095 25.339 9.63342ZM18.2208 25.1942C16.7309 25.1942 15.2411 24.808 13.9719 24.0354L13.6408 23.8699L10.4404 24.6976L11.2681 21.5523L11.0474 21.2213C8.61943 17.3035 9.77822 12.1165 13.7512 9.6886C17.7242 7.26067 22.8559 8.41945 25.2838 12.3924C27.7118 16.3654 26.553 21.4972 22.58 23.9251C21.3109 24.7528 19.7658 25.1942 18.2208 25.1942ZM23.0766 19.0692L22.4697 18.7933C22.4697 18.7933 21.5868 18.4071 21.035 18.1312C20.9798 18.1312 20.9246 18.076 20.8694 18.076C20.7039 18.076 20.5935 18.1312 20.4832 18.1863C20.4832 18.1863 20.428 18.2415 19.6555 19.1244C19.6003 19.2348 19.4899 19.2899 19.3796 19.2899H19.3244C19.2692 19.2899 19.1588 19.2348 19.1037 19.1796L18.8278 19.0692C18.2208 18.7933 17.669 18.4622 17.2275 18.0208C17.1172 17.9104 16.9516 17.8001 16.8413 17.6897C16.455 17.3035 16.0688 16.862 15.7929 16.3654L15.7377 16.255C15.6825 16.1999 15.6825 16.1447 15.6273 16.0343C15.6273 15.924 15.6273 15.8136 15.6825 15.7584C15.6825 15.7584 15.9032 15.4825 16.0688 15.317C16.1791 15.2066 16.2343 15.0411 16.3447 14.9307C16.455 14.7652 16.5102 14.5445 16.455 14.3789C16.3998 14.103 15.7377 12.6131 15.5721 12.2821C15.4618 12.1165 15.3514 12.0613 15.1859 12.0062H15.0203C14.91 12.0062 14.7444 12.0062 14.5789 12.0062C14.4685 12.0062 14.3582 12.0613 14.2478 12.0613L14.1926 12.1165C14.0823 12.1717 13.9719 12.2821 13.8616 12.3372C13.7512 12.4476 13.696 12.558 13.5856 12.6683C13.1994 13.1649 12.9787 13.7719 12.9787 14.3789C12.9787 14.8204 13.089 15.2618 13.2546 15.6481L13.3097 15.8136C13.8064 16.862 14.4685 17.8001 15.3514 18.6278L15.5721 18.8485C15.7377 19.014 15.9032 19.1244 16.0136 19.2899C17.1724 20.2832 18.4967 21.0005 19.9866 21.3868C20.1521 21.442 20.3728 21.442 20.5384 21.4972C20.7039 21.4972 20.9246 21.4972 21.0902 21.4972C21.3661 21.4972 21.6971 21.3868 21.9179 21.2764C22.0834 21.1661 22.1938 21.1661 22.3041 21.0557L22.4145 20.9454C22.5248 20.835 22.6352 20.7798 22.7456 20.6695C22.8559 20.5591 22.9663 20.4487 23.0215 20.3384C23.1318 20.1177 23.187 19.8417 23.2422 19.5658C23.2422 19.4555 23.2422 19.2899 23.2422 19.1796C23.2422 19.1796 23.187 19.1244 23.0766 19.0692Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>

                            <div class="icon-redes">
                                <a href="https://br.linkedin.com/company/grupo-laborat%C3%B3rio-mastellini"
                                    target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35"
                                        fill="none">
                                        <rect width="35" height="35" rx="17.5" fill="#00CBEC" />
                                        <path
                                            d="M27.2161 25.7578C26.0677 25.7305 24.9466 25.7305 23.7982 25.7578C23.5521 25.7578 23.4974 25.7031 23.4974 25.457C23.4974 23.4336 23.4974 21.3828 23.4974 19.3594C23.4974 18.8945 23.47 18.4297 23.3333 17.9922C22.9232 16.5703 21.2825 16.0508 20.1068 17.0078C19.4778 17.5 19.2318 18.1836 19.2318 19.0039C19.2318 20.918 19.2318 22.832 19.2318 24.7461C19.2318 24.9922 19.2044 25.2383 19.2318 25.5117C19.2591 25.7305 19.1497 25.7852 18.9583 25.7578C17.7825 25.7578 16.6341 25.7578 15.4583 25.7578C15.2396 25.7578 15.1849 25.7031 15.1849 25.4844C15.2122 23.7617 15.2122 22.0391 15.2122 20.2891C15.2122 18.1563 15.2122 16.0234 15.1849 13.918C15.1849 13.6719 15.2396 13.6172 15.4583 13.6172C16.6341 13.6172 17.7825 13.6172 18.9583 13.6172C19.1771 13.6172 19.2318 13.6719 19.2318 13.8906C19.2318 14.3281 19.2318 14.7656 19.2318 15.2852C19.3138 15.2031 19.3411 15.1758 19.3685 15.1484C20.4349 13.5898 21.9388 13.1523 23.7161 13.4258C25.7669 13.7539 27.0794 15.1758 27.4075 17.3633C27.4896 17.8828 27.5169 18.4023 27.5169 18.9219C27.5169 21.1094 27.5169 23.2695 27.5169 25.457C27.5169 25.6758 27.4622 25.7578 27.2161 25.7578Z"
                                            fill="white" />
                                        <path
                                            d="M12.9974 19.6875C12.9974 21.6016 12.9974 23.5156 12.9974 25.4297C12.9974 25.6758 12.9427 25.7578 12.6966 25.7578C11.5482 25.7305 10.3997 25.7578 9.25128 25.7578C9.03253 25.7578 8.97784 25.7031 8.97784 25.4844C8.97784 21.6289 8.97784 17.7461 8.97784 13.8906C8.97784 13.6992 9.03253 13.6172 9.25128 13.6172C10.4271 13.6172 11.6028 13.6172 12.7786 13.6172C13.0247 13.6172 13.0521 13.6992 13.0521 13.918C12.9974 15.832 12.9974 17.7461 12.9974 19.6875Z"
                                            fill="white" />
                                        <path
                                            d="M13.1888 10.4453C12.9153 11.539 11.7943 12.168 10.5091 11.9492C9.14191 11.7305 8.37628 10.3906 8.86847 9.07811C9.1966 8.2578 9.98956 7.76561 11.0013 7.79295C12.5325 7.76561 13.5443 8.99608 13.1888 10.4453Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>

                            <div class="icon-redes">
                                <a href="https://www.tiktok.com/@laboratoriomastellini#:~:text=Laborat%C3%B3rio%20Mastellini%20(%40laboratoriomastellini)%20%7C%20TikTok"
                                    target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35"
                                        fill="none">
                                        <circle cx="19.5" cy="18.5" r="12.5" fill="white" />
                                        <path
                                            d="M17.5 0C7.83651 0 0 7.83651 0 17.5C0 27.1635 7.83651 35 17.5 35C27.1635 35 35 27.1635 35 17.5C35 7.83651 27.1635 0 17.5 0ZM26.2794 13.3898V15.7593C25.1621 15.7597 24.0764 15.5408 23.0526 15.1088C22.3942 14.8308 21.7808 14.4727 21.2198 14.0399L21.2366 21.3334C21.2296 22.9757 20.5798 24.5188 19.4038 25.6811C18.4468 26.6272 17.2341 27.2288 15.9197 27.4236C15.6108 27.4693 15.2965 27.4928 14.9786 27.4928C13.5716 27.4928 12.2358 27.037 11.1431 26.196C10.9374 26.0377 10.7408 25.866 10.5535 25.6811C9.27903 24.4215 8.62183 22.7142 8.7325 20.9182C8.81692 19.5511 9.36428 18.2473 10.2767 17.2254C11.484 15.8731 13.1729 15.1225 14.9786 15.1225C15.2965 15.1225 15.6108 15.1464 15.9197 15.1921V16.0682V18.5054C15.6268 18.4088 15.3141 18.3557 14.9884 18.3557C13.3386 18.3557 12.0039 19.7017 12.0286 21.3527C12.0442 22.409 12.6213 23.3324 13.4723 23.8414C13.8723 24.0807 14.3324 24.2289 14.8235 24.2558C15.2082 24.2769 15.5776 24.2233 15.9197 24.1104C17.0984 23.721 17.9487 22.6139 17.9487 21.3081L17.9526 16.424V7.50723H21.2158C21.219 7.83057 21.2518 8.14604 21.3127 8.45175C21.559 9.68912 22.2565 10.7626 23.2272 11.4945C24.0736 12.1329 25.1276 12.5113 26.27 12.5113C26.2707 12.5113 26.2801 12.5113 26.2793 12.5106V13.3898H26.2794Z"
                                            fill="#00CBEC" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 bloco-texto-inferior-footer">
                        <p>Envie suas dúvidas e reclamações através dos e-mails contato@laboratoriomastellini.com.br
                            <br> ou reclameaqui@laboratoriomastellini.com.br
                        </p>
                    </div>

                </div>

            </div>

        </div>
    </div>


</section>

<section class="footer-pagina-final" data-scroll-index='8'>
    <div class="container">
        <div class="row final-pagina-rodape">
            <p>Copyright 2024 © Laboratórios Mastellini - Todos os direitos reservados</p>
        </div>
    </div>
</section>