<header class="navbar navbar-expand-lg nav-desk">
    <div class="container">
        <div class=" col-12 conteudo-header">
            <div class="col-md-3 col-lg-3 col-sm-10 img-logo-topo">
                <img src="image/mastellini_logotipo.png" alt="" class="img-fluid">
            </div>

            <div class="col-md-6 col-lg-6 col-sm-2 ">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"> <span class="fas fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">

                        <li class="nav-item"> <a class="nav-link" href="{{path('web_todas_unidades')}}">
                                <div class="cta-nossas-unidades">
                                    <div class="text-wrapper-2">Nossas unidades</div>
                                </div>
                            </a> </li>
                        <li class="nav-item"> <a class="nav-link" href="{{path('web_parceiro')}}">
                                <div class="cta-seja-parceiro">
                                    <div class="text-wrapper">Seja parceiro</div>
                                </div>
                            </a> </li>
                        <li class="nav-item"> <a class="nav-link" href="{{retornaLinkAreaRestrita()}}">
                                <div class="cta-consulte">
                                    <div class="text-wrapper">Consultar resultado</div>
                                </div>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>