<div class="col-md-12 col-lg-12  col-sm-12">
    <img class="separador img-fluid" src="image/separador_01.svg" />
</div>
<div class="col-12 submenu-nav">
    <div class="barra-menu">
        <div class="col-2 div-wrapper">
            <div class="col-2 text-wrapper-4"><a href="/home" class="link-nav-header">Home</a></div>
        </div>
        <div class="col-2 exames">
            <div class="col-2 text-wrapper-4"><a href="/exames" class="link-nav-header">Exames</a></div>
        </div>
        <div class="col-2 unidades">
            <div class="col-2 text-wrapper-4"><a href="/unidades" class="link-nav-header">Unidades</a></div>
        </div>
        <div class="col-2 coletas">
            <div class="col-2 text-wrapper-4"><a href="/coletas" class="link-nav-header">Coletas</a></div>
        </div>
        <div class="col-2 quem-somos">
            <div class="text-wrapper-4"><a href="/quem-somos" class="link-nav-header">Quem somos</a></div>
        </div>
        <div class="col-2 fale-conosco">
            <div class="text-wrapper-4"><a href="/fale-conosco" class="link-nav-header">Fale conosco</a></div>
        </div>
    </div>
</div>