<section class="section-convenios" data-scroll-index='3'>
    <div class="container">
        <div class="row centralizar">
            <div class="col-md-4 col-lg-4 col-sm-10">
                <div class="convenios-titulo">
                    <h2>Convênios</h2>
                </div>
                <div class="convenios-conteudo">
                    <p>Caso não encontre sua operadora de saúde ou plano, o Laboratório Mastellini oferece condições
                        especiais para pagamento particular. Entre em contato e confira!*

                        <br><br>

                        <span>*Consulte os planos disponíveis na unidade mais próxima de você.</span>
                    </p>
                </div>
                <div class="convenios-botao">
                    <a href="">Consultar planos</a>
                </div>

            </div>

            <div class="col-md-8 col-lg-8 col-sm-12 bloco-imgs-convenios">
                <div class="balao-convenios">
                    <div class="convenios-imgs">
                        <div class="col-3 cada-imagem-convenio">
                            <div class="">
                                <img src='image/unimed_logo.png' alt="" class="img-fluid img-convenios-cada">
                            </div>
                        </div>

                        <div class="col-3 cada-imagem-convenio">
                            <div class="">
                                <img src='image/iamspe_logo.png' alt="" class="img-fluid img-convenios-cada">
                            </div>
                        </div>

                        <div class="col-3 cada-imagem-convenio">
                            <div class="">
                                <img src='image/bradesco_logo.png' alt="" class="img-fluid img-convenios-cada">
                            </div>
                        </div>

                        <div class="col-3 cada-imagem-convenio">
                            <div class="">
                                <img src='image/apas_logo.png' alt="" class="img-fluid img-convenios-cada">
                            </div>
                        </div>

                        <div class="col-3 cada-imagem-convenio">
                            <div class="">
                                <img src='image/unimed_logo.png' alt="" class="img-fluid img-convenios-cada">
                            </div>
                        </div>



                    </div>
                </div>
            </div>


        </div>

    </div>

</section>