<section class="section-quem-somos " data-scroll-index='1'>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-12 div-quem-somos-titulos">
                <h2>Quem somos</h2>
            </div>

            <div class="col-12 bloco1-quem-somos">
                <div class="col-md-6 col-lg-6 col-12 bloco-conteudo-quem-somos">
                    <p>O <b>Grupo Mastellini nasceu em 2006</b> em Paulicéia/SP, com a proposta de ser referência em
                        análises clínicas, seguindo um formato de gestão visionário de Jáder Mastellini. Pouco depois,
                        surgiu a unidade Mastellini em Tupi Paulista/SP. <br><br>

                        <b>Início:</b> A unidade de Tupi Paulista foi o ponto de partida para a expansão do grupo.
                        Inspirado nos resultados e no propósito de oferecer qualidade e segurança aos pacientes,
                        incluindo aqueles do SUS.<br><br>

                        <b>Expansão:</b> Em 2010, o grupo expandiu para o eixo Rondon (rodovia Marechal Rondon),
                        incorporando as cidades de Guaraçaí e Guararapes, e, em seguida, adicionou outras cidades
                        relevantes, como Araçatuba, Dracena, Mirandópolis, entre outras.
                    </p>
                </div>
                <div class="col-md-6 col-lg-6 col-12 bloco-conteudo-img-quem-somos">
                    <div class="div-imagem-quem-somos-right">
                        <img src='image/img_lp_1_v2.png' alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-12 bloco-conteudo-quem-somos">
                    <p>
                        O ponto de virada para o grupo foi a instalação da Unidade Presidente Prudente, capital regional
                        do Oeste Paulista, ainda durante a pandemia, o que fez o grupo chegar a outras cidades do Oeste
                        Paulista com presença massiva, tanto no atendimento a convênios médicos quanto particulares e ao
                        SUS. <br><br>

                        <b>O Grupo Mastellini foi o primeiro a coletar materiais para diagnóstico de COVID (PCR e
                            antígeno) na região Oeste Paulista.</b> <br><br>

                        <b>Referência:</b> Hoje, o Grupo Mastellini está presente em 14 cidades do Noroeste Paulista e é
                        referência quando o assunto é análises clínicas. Com cuidado centrado no paciente, oferecendo o
                        que há de melhor em precisão nos resultados e dentro de padrões internacionais de qualidade.
                    </p>
                </div>
            </div>


            <div class="col-12 bloco1-quem-somos">
                <div class="col-md-6 col-lg-6 col-12 bloco-conteudo-img-quem-somos">
                    <div class="div-imagem-quem-somos-left">
                        <img src='image/img_quem_somos2.png' alt="" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-12 bloco-conteudo-quem-somos">
                    <h2>Nosso fundador e liderança inspiradora</h2>

                    <p>
                        Dr. Jáder Mastellini é farmacêutico bioquímico, altamente qualificado, com uma vasta experiência
                        em análises clínicas, que transforma este mercado há mais de uma década com sua dedicação.
                        <br><br>

                        Sua paixão pela ciência e pela saúde o levou a abrir seu primeiro laboratório antes de concluir
                        sua graduação. Mais do que empreendedorismo, é uma habilidade excepcional e uma visão pioneira
                        no setor.
                    </p>
                </div>

                <div class="col-md-12 col-lg-12 col-12 bloco-conteudo-quem-somos">
                    <p>
                        <b>Inovação e Dedicação:</b> Ao longo dos anos, Dr. Jáder Mastellini não apenas construiu um
                        legado de excelência em análises clínicas, mas também se dedicou incansavelmente à busca pela
                        inovação. <br><br>

                        <b>Impacto na Comunidade:</b> É uma liderança que valoriza profundamente o impacto que sua
                        empresa tem na comunidade e na sociedade em geral. Sua visão vai além das fronteiras da empresa,
                        influenciando positivamente a vida das pessoas.
                    </p>
                </div>
            </div>

            <div class="col-12 bloco2-quem-somos">
                <div class="baloes-quem-somos">
                    <div class="col-md-6 col-lg-6 col-12 bloco-titulo-balao">
                        <h2>Qualidade e tecnologia andam lado a lado</h2>
                    </div>
                    <div class="col-md-6 col-lg-6 col-12 bloco-conteudo-balao">
                        <p>Investimos em equipamentos de última geração, de marcas reconhecidas mundialmente, para
                            proporcionar a você mais rapidez e confiabilidade.</p>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12 col-12 div-quem-somos-titulos">
                    <h2>Certificados de Qualidade</h2>
                </div>

                <div class="col-12 bloco-certificado">
                    <div class="col-md-5 col-lg-5 col-12 bloco-conteudo-img-quem-somos">
                        <div class="div-imagem-quem-somos-certificado">
                            <img src='image/certificado_9001.png' alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 col-12 bloco-conteudo-certificado">
                        <p>
                            A ISO 9001 faz parte do conjunto de normas designadas ISO 9000 de gestão da qualidade total
                            e é aplicável a todos os tipos de empresas em qualquer setor. Ter a certificação ISO 9001
                            representa um atestado de reconhecimento nacional e internacional em relação ao trabalho e
                            às entregas da empresa. E a Matriz, unidade Presidente Prudente, faz parte dessa importante
                            lista de empresas certificadas.
                        </p>
                    </div>
                </div>

                <div class="baloes-quem-somos">
                    <div class="col-md-4 col-lg-4 col-12 bloco-imagem-balao">
                        <img src='image/controllab_lago.png' alt="" class="img-fluid imagem-balao-quem-somos">
                    </div>
                    <div class="col-md-8 col-lg-8 col-12 bloco-conteudo-balao">
                        <p>Os serviços da ControlLab estão essencialmente direcionados a todos os laboratórios que se
                            preocupam em garantir a qualidade e a confiabilidade de seus laudos de análise.</p>
                    </div>
                </div>

                <div class="baloes-quem-somos">
                    <div class="col-md-4 col-lg-4 col-12 bloco-imagem-balao">
                        <img src='image/logo_pncq.png' alt="" class="img-fluid imagem-balao-quem-somos">
                    </div>
                    <div class="col-md-8 col-lg-8 col-12 bloco-conteudo-balao">
                        <p>A certificação PNCQ garante que laboratórios de análises clínicas sigam altos padrões de
                            qualidade, assegurando precisão nos diagnósticos e confiabilidade nos resultados. Isso
                            reforça nosso compromisso com a segurança e a saúde dos pacientes.</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<section class="section-quem-somos2 " data-scroll-index='2'>
    <div class="container">
        <div class="row">
            <div class="titulo-compromissos">
                <div class="col-md-8 col-lg-8 col-12 titulo-section2-quem-somos">
                    <h2>Através do compromisso da direção e de sua equipe, o <b>Laboratório Mastellini</b> tem como
                        premissas:</h2>
                </div>
            </div>

            <div class="lista-compromissos-quem-somos">

                <div class="col-md-3 col-lg-3 col-12 cada-compromisso-quem-somos">
                    <div class="conteudo-cada-compromisso">
                        <p><b>Buscar</b> a satisfação dos clientes com um atendimento eficiente e humanizado.</p>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-12 cada-compromisso-quem-somos">
                    <div class="conteudo-cada-compromisso">
                        <p><b>Prezar</b> pela melhoria contínua do sistema de gestão da qualidade.</p>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-12 cada-compromisso-quem-somos">
                    <div class="conteudo-cada-compromisso">
                        <p><b>Focar</b> na capacitação, aproximação e motivação dos colaboradores.</p>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-12 cada-compromisso-quem-somos">
                    <div class="conteudo-cada-compromisso">
                        <p><b>Cumprir</b> rigorosamente os requisitos legais aplicáveis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-quem-somos " data-scroll-index='3'>
    <div class="container">
        <div class="row">

            <div class="lista-compromissos-valores">

                <div class="col-md-4 col-lg-4 col-12 cada-valor-quem-somos">
                    <div class="conteudo-cada-valor">
                        <div class="cabecalho-valor">
                            <div class=" icone-valor">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                    fill="none">
                                    <path
                                        d="M31.2204 10.7883V15.0851L23.1843 23.1212C22.7082 23.5812 22.695 24.3396 23.1546 24.8156C23.6145 25.2914 24.373 25.3045 24.849 24.8449C24.8589 24.8354 24.8688 24.8255 24.8783 24.8156L32.9148 16.7792H37.2112C37.5291 16.7792 37.8338 16.6532 38.0583 16.4283L45.2473 9.23925C45.7153 8.77123 45.7153 8.01244 45.2473 7.54443C45.0225 7.31994 44.7178 7.19396 44.4003 7.1936H40.8059V3.59924C40.8056 2.9375 40.2691 2.40137 39.6073 2.40137C39.2898 2.40137 38.9851 2.52771 38.7603 2.7522L31.5712 9.94127C31.3467 10.1658 31.2204 10.4708 31.2204 10.7883Z"
                                        fill="#13718A" />
                                    <path
                                        d="M27.7729 15.1439C22.8975 13.0755 17.2689 15.3515 15.2005 20.2269C13.1321 25.1022 15.4081 30.7312 20.2835 32.7992C25.1589 34.8676 30.7879 32.592 32.8559 27.7162C33.8714 25.323 33.8714 22.62 32.8559 20.2269L26.5735 26.5092C25.19 27.933 22.9144 27.966 21.4905 26.5828C20.0667 25.1993 20.0337 22.9236 21.4169 21.4998C21.4411 21.4749 21.4656 21.4507 21.4905 21.4266L27.7729 15.1439Z"
                                        fill="#13718A" />
                                    <path
                                        d="M45.1709 12.7054L41.5857 16.2902C45.8455 26.0043 41.4242 37.3323 31.7101 41.5921C21.9964 45.8518 10.6684 41.4302 6.40828 31.7165C2.14852 22.0024 6.57015 10.6744 16.2842 6.41463C21.2003 4.25875 26.7941 4.25875 31.7101 6.41463L35.2946 2.82906C23.6022 -3.4086 9.06697 1.01303 2.82931 12.7054C-3.40872 24.3974 1.0129 38.933 12.7053 45.171C24.3976 51.4087 38.9329 46.9871 45.1709 35.2947C48.9367 28.2356 48.9367 19.7645 45.1709 12.7054Z"
                                        fill="#13718A" />
                                    <path
                                        d="M28.8248 10.7887C28.8233 9.84163 29.1976 8.9327 29.8659 8.2618C21.1538 5.00253 11.4492 9.42269 8.18954 18.1348C4.93026 26.847 9.35042 36.5516 18.0626 39.8112C26.7747 43.0705 36.4793 38.6503 39.7389 29.9382C41.1628 26.1325 41.1628 21.9405 39.7389 18.1348C39.068 18.8032 38.1591 19.1778 37.2121 19.176H34.9983C37.6698 25.2573 34.9061 32.3526 28.8248 35.0241C22.7438 37.696 15.6481 34.9318 12.9766 28.8509C10.3048 22.7696 13.0689 15.6743 19.1498 13.0024C22.233 11.6481 25.742 11.6481 28.8248 13.0024V10.7887Z"
                                        fill="#13718A" />
                                </svg>
                            </div>
                            <div class="titulo-valor">
                                <h2>Missão</h2>
                            </div>
                        </div>
                        <div class="conteudo-valor">
                            <p>Prestar serviços laboratoriais com qualidade, confiabilidade, agilidade, profissionalismo
                                e empatia.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-12 cada-valor-quem-somos">
                    <div class="conteudo-cada-valor">
                        <div class="cabecalho-valor">
                            <div class=" icone-valor">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="32" viewBox="0 0 48 32"
                                    fill="none">
                                    <path
                                        d="M24.0001 8.27539C19.7382 8.27539 16.2754 11.7382 16.2754 16.0001C16.2754 20.2621 19.7382 23.7249 24.0001 23.7249C28.2621 23.7249 31.7249 20.2621 31.7249 16.0001C31.7249 11.7382 28.2621 8.27539 24.0001 8.27539ZM23.4141 13.7094C22.4552 13.7094 21.6561 14.5085 21.6561 15.4674H19.0989C19.1522 13.0701 21.0701 11.1522 23.4141 11.1522V13.7094Z"
                                        fill="#13718A" />
                                    <path
                                        d="M47.4406 14.4021C44.8302 11.1523 35.5072 0.550781 24 0.550781C12.4928 0.550781 3.16981 11.1523 0.559379 14.4021C-0.186459 15.3077 -0.186459 16.6396 0.559379 17.5985C3.16981 20.8482 12.4928 31.4498 24 31.4498C35.5072 31.4498 44.8302 20.8482 47.4406 17.5985C48.1865 16.6928 48.1865 15.361 47.4406 14.4021ZM24 27.1878C17.8202 27.1878 12.8124 22.1801 12.8124 16.0003C12.8124 9.82048 17.8202 4.81271 24 4.81271C30.1798 4.81271 35.1876 9.82048 35.1876 16.0003C35.1876 22.1801 30.1798 27.1878 24 27.1878Z"
                                        fill="#13718A" />
                                </svg>
                            </div>
                            <div class="titulo-valor">
                                <h2>Visão</h2>
                            </div>
                        </div>
                        <div class="conteudo-valor">
                            <p>Ser referência em serviços de análises clínicas, com qualidade e confiança dos clientes e
                                profissionais de saúde, priorizando o atendimento humanizado.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-12 cada-valor-quem-somos">
                    <div class="conteudo-cada-valor">
                        <div class="cabecalho-valor">
                            <div class=" icone-valor">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="37" viewBox="0 0 48 37"
                                    fill="none">
                                    <path d="M21.7755 36.3007L13.9746 13.7568H0L21.7755 36.3007Z" fill="#13718A" />
                                    <path d="M31.1097 13.7568H16.8193L23.9878 34.4727L31.1097 13.7568Z"
                                        fill="#13718A" />
                                    <path d="M17.5381 11.0673H30.3004L23.7852 2.28613L17.5381 11.0673Z"
                                        fill="#13718A" />
                                    <path
                                        d="M33.6484 11.068H47.8582L37.2246 0.863511C36.6473 0.309408 35.878 0 35.0777 0H25.4365L33.6484 11.068Z"
                                        fill="#13718A" />
                                    <path
                                        d="M14.2384 11.068L22.1124 0H12.6685C11.8587 0 11.0809 0.316912 10.5016 0.882831L0.0771484 11.068H14.2384Z"
                                        fill="#13718A" />
                                    <path d="M33.9528 13.7568L26.1982 36.3129L47.9999 13.7568H33.9528Z"
                                        fill="#13718A" />
                                </svg>
                            </div>
                            <div class="titulo-valor">
                                <h2>Valores</h2>
                            </div>
                        </div>
                        <div class="conteudo-valor">
                            <p>Somos bem-humorados, unidos e participativos, honestos e obcecados por fazer dar certo.
                                Juntos, vamos mais longe!</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>