<section class="banner banner-section" data-scroll-index='0'>


    <div class="banners-home  banner-desk">
        <div>
            <img src='image/banner_desk_lp.png' clas="img-fluid" alt="">
        </div>
    </div>

    <div class="banners-home banner-mobile">
        <div>
            <img src='image/banner_mobile_lp.png' clas="img-fluid" alt="">
        </div>
    </div>

</section>

<section class="section-bloco1-parceiro" data-scroll-index='1'>
    <div class="container">
        <div class="row">
            <div class="col-12 titulo-parceiro">
                <div class="col-md-6 col-lg-6 col-12 div-titulo-bloco1">
                    <h2>Tenha seu próprio serviço laboratorial</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-12 div-conteudo-bloco1">
                <p>
                    Santas Casas, hospitais e instituições de saúde, estamos aqui para você rumo à excelência em
                    diagnóstico 24 horas. <br><br>

                    <b>Laboratório Mastellini:</b> seu parceiro para fortalecer o ecossistema de saúde, com mais de 4
                    milhões de exames processados anualmente.<br><br>

                    No universo desafiador das instituições de saúde, a busca incessante por aprimorar a qualidade e
                    eficiência dos serviços laboratoriais é essencial.<br><br>

                    O <b>Grupo Mastellini</b> compreende as necessidades exclusivas desse setor e oferece soluções de
                    elite para atender às demandas do mercado.<br><br>

                    Uma <b>oportunidade de expandir</b> sua capacidade interna, oferecendo serviços ágeis e
                    diversificados, sem a necessidade de aumentar a infraestrutura física ou investir em tecnologia
                    adicional.
                </p>

            </div>

            <div class="col-md-6 col-lg-6 col-12 div-imagem-bloco1">
                <div class="img-bloco1-parceiro">
                    <img src='image/img_lp_1_v2.png' alt="" class="img-fluid">
                </div>

            </div>
        </div>
    </div>
</section>

<section class="section-parceiro-porque" data-scroll-index='2'>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-10 div-titulo-bloco2">
                <h2>Por que escolher a nossa solução?</h2>
            </div>
        </div>
    </div>
</section>


<section class="section-parceiro-qualidades" data-scroll-index='3'>
    <div class="container">
        <div class="row lista-mobile-qualidades">

            <div class="col-12 cada-qualidade">
                <div class="col-md-1 col-lg-1 col-1 img-icone-qualidade">
                    <svg xmlns="http://www.w3.org/2000/svg" width="51" height="67" viewBox="0 0 51 67" fill="none">
                        <path
                            d="M40.4579 11.4885C40.5135 11.4361 40.5578 11.3735 40.5879 11.3045C40.6181 11.2354 40.6337 11.1612 40.6337 11.0863C40.6337 11.0113 40.6181 10.9371 40.5879 10.868C40.5578 10.799 40.5135 10.7364 40.4579 10.684L32.5838 3.10137C32.472 2.99572 32.3216 2.93652 32.1649 2.93652C32.0082 2.93652 31.8578 2.99572 31.746 3.10137L18.2285 16.1231L27.0035 24.4459L40.4579 11.4885Z"
                            fill="#13718A" />
                        <path
                            d="M14.2314 19.9718C14.1767 20.0239 14.1332 20.086 14.1035 20.1544C14.0739 20.2228 14.0586 20.2962 14.0586 20.3704C14.0586 20.4445 14.0739 20.5179 14.1035 20.5863C14.1332 20.6548 14.1767 20.7168 14.2314 20.769L22.1061 28.3526C22.1599 28.4059 22.2242 28.4481 22.2953 28.477C22.3663 28.5059 22.4427 28.5207 22.5198 28.5207C22.5979 28.5207 22.6752 28.5058 22.7472 28.4769C22.8192 28.4479 22.8846 28.4055 22.9395 28.3521L26.2348 25.1795L17.4652 16.8594L14.2314 19.9718Z"
                            fill="#13718A" />
                        <path
                            d="M11.5262 26.4651C11.4572 26.5315 11.4025 26.6104 11.3651 26.6971C11.3278 26.7839 11.3086 26.8769 11.3086 26.9708C11.3086 27.0647 11.3278 27.1577 11.3651 27.2444C11.4025 27.3312 11.4572 27.41 11.5262 27.4764L15.1427 30.9584C15.2842 31.0882 15.4722 31.1605 15.6676 31.1605C15.8631 31.1605 16.051 31.0882 16.1926 30.9584L19.739 27.5445L15.072 23.0518L11.5262 26.4651Z"
                            fill="#13718A" />
                        <path
                            d="M43.4663 4.80214C43.5354 4.73586 43.5902 4.6571 43.6276 4.57037C43.665 4.48364 43.6842 4.39066 43.6842 4.29676C43.6842 4.20285 43.665 4.10987 43.6276 4.02314C43.5902 3.93642 43.5354 3.85766 43.4663 3.79137L39.7442 0.208396C39.6046 0.0749117 39.4158 0 39.219 0C39.0223 0 38.8335 0.0749117 38.6939 0.208396L34.8984 3.86151L39.6714 8.45631L43.4663 4.80214Z"
                            fill="#13718A" />
                        <path
                            d="M28.2605 48.4065C28.7209 48.4066 29.1709 48.2753 29.5538 48.0291C29.9366 47.783 30.235 47.433 30.4112 47.0236C30.5875 46.6141 30.6337 46.1635 30.5439 45.7288C30.4542 45.2941 30.2325 44.8948 29.9071 44.5813C29.5816 44.2679 29.1669 44.0544 28.7153 43.9679C28.2638 43.8814 27.7958 43.9257 27.3705 44.0953C26.9452 44.2649 26.5817 44.5521 26.3259 44.9207C26.0701 45.2892 25.9336 45.7224 25.9336 46.1657C25.9342 46.7597 26.1795 47.3293 26.6157 47.7494C27.052 48.1695 27.6435 48.4058 28.2605 48.4065Z"
                            fill="#13718A" />
                        <path
                            d="M28.8498 53.491H14.5657C14.4772 55.0995 13.9094 56.6494 12.9302 57.9555C11.9511 59.2615 10.6019 60.2685 9.04412 60.8559L4.23148 62.5947L4.2168 66.9791L41.8279 67.0001L41.8497 58.771C41.8478 58.3501 41.6864 57.9443 41.3957 57.6299L34.8884 50.6084C34.1898 51.5138 33.2783 52.2471 32.2287 52.7481C31.1791 53.2491 30.0212 53.5037 28.8498 53.491Z"
                            fill="#13718A" />
                        <path
                            d="M34.1281 42.4872C33.5249 41.6812 32.7316 41.0246 31.8135 40.5713C30.8953 40.1181 29.8786 39.8811 28.8468 39.8799H0.222656V44.0868L8.29302 48.2267C8.37979 48.2701 8.45241 48.3358 8.50288 48.4164C8.55334 48.497 8.57968 48.5895 8.57899 48.6837V52.4525H28.8468C29.9544 52.4552 31.0443 52.1845 32.0123 51.6662C32.9803 51.1479 33.7941 50.3993 34.376 49.4919C34.3814 49.4867 34.3814 49.4814 34.3869 49.4762C35.0664 48.4961 35.4088 47.3352 35.3655 46.1575C35.3317 44.8444 34.9017 43.5691 34.1281 42.4872ZM28.2563 49.449C27.5827 49.4486 26.9242 49.2559 26.3643 48.8953C25.8043 48.5347 25.3679 48.0224 25.1103 47.4231C24.8526 46.8238 24.7853 46.1644 24.9168 45.5282C25.0483 44.8921 25.3727 44.3078 25.849 43.8491C26.3254 43.3904 26.9322 43.078 27.5929 42.9513C28.2536 42.8246 28.9385 42.8893 29.561 43.1373C30.1835 43.3852 30.7157 43.8053 31.0903 44.3443C31.465 44.8834 31.6652 45.5173 31.6657 46.1659C31.6646 47.0357 31.3053 47.8696 30.6666 48.4847C30.0279 49.0998 29.1619 49.446 28.2585 49.4474L28.2563 49.449Z"
                            fill="#13718A" />
                        <path
                            d="M38.496 14.8516L33.0723 20.074C39.1223 20.7022 44.0214 25.7346 44.0214 31.6029C44.0332 34.0788 43.2048 36.4906 41.6622 38.4716C40.1195 40.4526 37.9471 41.8943 35.4753 42.5774C36.5627 44.5419 36.6584 46.62 35.8477 48.9996C35.8374 49.0231 35.8303 49.0482 35.82 49.0718C39.7729 48.2989 43.3556 46.3046 46.0237 43.3922C48.6918 40.4798 50.2995 36.8084 50.6024 32.9359C50.9052 29.0634 49.8868 25.2016 47.7018 21.9373C45.5167 18.673 42.2846 16.1847 38.4965 14.8506L38.496 14.8516Z"
                            fill="#13718A" />
                    </svg>
                </div>
                <div class="col-md-11 col-lg-11 col-10 conteudo-qualidade">
                    <p><b>Eficiência aprimorada:</b> reduza os tempos de espera e eleve a precisão dos resultados
                        laboratoriais. Oferecemos um atendimento ágil e confiável.</p>
                </div>
            </div>

            <div class="col-12 cada-qualidade">
                <div class="col-md-1 col-lg-1 col-1 img-icone-qualidade">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none">
                        <path
                            d="M22.5 0C21.4286 0.00294336 20.3582 0.0794707 19.2976 0.230563C18.4421 0.361052 17.8466 1.15085 17.9584 2.00933C18.083 2.77951 18.7472 3.3466 19.5282 3.34856C19.5988 3.3515 19.6695 3.34464 19.7372 3.32796C20.6526 3.20237 21.5758 3.1386 22.5 3.13958C23.3673 3.13958 24.0698 2.4371 24.0698 1.56979C24.0698 0.702481 23.3673 0 22.5 0ZM14.9444 2.90902C14.5686 2.13001 13.6376 1.79447 12.8517 2.15552C11.5026 2.80404 10.2193 3.58207 9.02139 4.47881C8.32774 4.9988 8.18744 5.98287 8.70743 6.67652C8.99883 7.07779 9.46682 7.31228 9.96327 7.30443C10.3018 7.29953 10.6314 7.18964 10.9051 6.99047C11.9343 6.21245 13.043 5.54627 14.2125 5.00175C14.9905 4.62402 15.3172 3.68901 14.9454 2.90902H14.9444ZM6.48814 8.93702C5.80136 8.42095 4.82711 8.5583 4.31006 9.24509C4.30319 9.25392 4.29632 9.26275 4.29043 9.27256C3.41331 10.4872 2.65589 11.7842 2.02994 13.145C1.66987 13.9368 2.01522 14.8718 2.80404 15.2378C3.00909 15.3261 3.22984 15.3761 3.45256 15.384C4.06674 15.384 4.62402 15.0239 4.87616 14.4627C5.41774 13.2824 6.07607 12.161 6.84331 11.1141C7.3476 10.4214 7.19455 9.45112 6.50188 8.94781C6.49697 8.94486 6.49207 8.94094 6.48814 8.938V8.93702ZM3.30735 20.0099C3.41724 19.1485 2.80796 18.3616 1.94654 18.2518C1.08512 18.1419 0.29826 18.7512 0.188375 19.6126C0.0627916 20.5692 0 21.5346 0 22.5C0 23.0445 0.0206035 23.5675 0.0627916 24.112C0.119697 24.9253 0.796669 25.5562 1.61198 25.5562H1.73756C2.598 25.4905 3.2426 24.7419 3.18177 23.8814C3.16117 23.4213 3.13958 22.9602 3.13958 22.5C3.14351 21.667 3.19943 20.835 3.30735 20.0089V20.0099ZM6.21637 32.9656C5.51095 31.8864 4.92228 30.7355 4.45821 29.5327C4.14621 28.7232 3.23671 28.321 2.42827 28.633C1.61885 28.945 1.21659 29.8545 1.52858 30.6629C2.07311 32.062 2.76087 33.4022 3.5801 34.661C4.02749 35.386 4.9782 35.6107 5.70325 35.1633C5.71404 35.1564 5.72483 35.1496 5.73661 35.1427C6.46558 34.6708 6.68044 33.7014 6.21833 32.9656H6.21637ZM13.2284 39.4959C12.0962 38.87 11.0239 38.142 10.0261 37.3188C9.36675 36.7635 8.38367 36.8479 7.82835 37.5072C7.27304 38.1665 7.35741 39.1496 8.01673 39.7049C9.16464 40.6762 10.4058 41.5318 11.7214 42.2588C12.4789 42.6689 13.4247 42.3883 13.8357 41.6309C14.2576 40.8734 13.9859 39.9178 13.2284 39.4959ZM22.5 41.8614C21.2069 41.8624 19.9167 41.7368 18.6491 41.4847C17.7995 41.3169 16.9753 41.8702 16.8076 42.7199C16.6398 43.5695 17.1931 44.3937 18.0428 44.5615C19.5105 44.8558 21.0038 45.003 22.501 45.001C23.3683 45.001 24.0708 44.2985 24.0708 43.4312C24.0708 42.5639 23.3683 41.8614 22.501 41.8614H22.5Z"
                            fill="#13718A" />
                        <path
                            d="M22.4995 45.001C21.6322 45.001 20.9297 44.2985 20.9297 43.4312C20.9297 42.5639 21.6322 41.8614 22.4995 41.8614C33.1917 41.8614 41.8599 33.1932 41.8599 22.501C41.8599 11.8088 33.1927 3.13958 22.4995 3.13958C21.6322 3.13958 20.9297 2.4371 20.9297 1.56979C20.9297 0.702481 21.6332 0 22.4995 0C34.9263 0 44.9995 10.0741 44.9995 22.5C44.9995 34.9259 34.9254 45 22.4995 45V45.001Z"
                            fill="#13718A" />
                        <path
                            d="M22.4987 5.75635C13.2506 5.75635 5.75391 13.2531 5.75391 22.5011C5.75391 31.7491 13.2506 39.2459 22.4987 39.2459C31.7467 39.2459 39.2434 31.7491 39.2434 22.5011C39.2434 13.2531 31.7467 5.75635 22.4987 5.75635ZM28.0871 25.3052C27.8173 25.832 27.2757 26.1627 26.6851 26.1636C26.4388 26.1577 26.1965 26.1008 25.9738 25.9959L21.7874 23.9031C21.2634 23.6314 20.9328 23.0917 20.9289 22.5011V14.1292C20.9289 13.2619 21.6314 12.5594 22.4987 12.5594C23.366 12.5594 24.0685 13.2619 24.0685 14.1292V21.5386L27.3964 23.1918C28.1676 23.5754 28.4825 24.5104 28.0989 25.2816C28.095 25.2895 28.0911 25.2973 28.0871 25.3052Z"
                            fill="#13718A" />
                    </svg>
                </div>
                <div class="col-md-11 col-lg-11 col-10 conteudo-qualidade">
                    <p><b>Otimização de recursos:</b> elimine desperdícios e otimize o uso de seus recursos, garantindo
                        uma gestão financeira eficaz.</p>
                </div>
            </div>

            <div class="col-12 cada-qualidade">
                <div class="col-md-1 col-lg-1 col-1 img-icone-qualidade">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none">
                        <path
                            d="M2.63672 22.5C2.63672 11.5473 11.5473 2.63672 22.5 2.63672C26.6192 2.63672 30.5475 3.88573 33.8551 6.20394H31.2998C30.5717 6.20394 29.9814 6.79421 29.9814 7.52229C29.9814 8.25038 30.5717 8.84065 31.2998 8.84065H37.4778C38.2059 8.84065 38.7962 8.25038 38.7962 7.52229V1.34429C38.7962 0.616201 38.2059 0.0259277 37.4778 0.0259277C36.7497 0.0259277 36.1594 0.616201 36.1594 1.34429V4.62604C32.2547 1.62589 27.5019 0 22.5 0C16.49 0 10.8398 2.34044 6.59004 6.59004C2.34044 10.8398 0 16.49 0 22.5C0 26.4481 1.04335 30.3383 3.01729 33.7498C3.26162 34.1722 3.70441 34.4081 4.1596 34.4081C4.38372 34.4081 4.61083 34.3509 4.81869 34.2307C5.44887 33.866 5.66411 33.0595 5.29954 32.4293C3.55755 29.4186 2.63672 25.985 2.63672 22.5Z"
                            fill="#13718A" />
                        <path
                            d="M41.9819 11.2501C41.6172 10.6198 40.8105 10.4046 40.1805 10.7693C39.5503 11.134 39.3351 11.9404 39.6996 12.5707C41.4416 15.5812 42.3625 19.0147 42.3625 22.4999C42.3625 33.4526 33.4519 42.3632 22.4992 42.3632C18.3804 42.3632 14.4527 41.1138 11.1455 38.796H13.6994C14.4275 38.796 15.0178 38.2057 15.0178 37.4776C15.0178 36.7495 14.4275 36.1592 13.6994 36.1592H7.52148C6.7934 36.1592 6.20312 36.7495 6.20312 37.4776V43.6556C6.20312 44.3837 6.7934 44.974 7.52148 44.974C8.24957 44.974 8.83984 44.3837 8.83984 43.6556V40.3706C12.7445 43.3717 17.4967 44.9999 22.4992 44.9999C28.5092 44.9999 34.1594 42.6595 38.4092 38.4098C42.6588 34.1601 44.9992 28.5099 44.9992 22.4999C44.9992 18.5516 43.9558 14.6615 41.9819 11.2501Z"
                            fill="#13718A" />
                        <path
                            d="M33.7855 19.0901C33.876 18.7523 33.8286 18.3925 33.6537 18.0897L31.8959 15.0451C31.5319 14.4146 30.7257 14.1986 30.095 14.5626L28.8996 15.2528C27.9281 14.3919 26.8028 13.7416 25.5754 13.3319V11.9531C25.5754 11.225 24.9852 10.6348 24.2571 10.6348H20.7415C20.0134 10.6348 19.4231 11.225 19.4231 11.9531V13.3318C18.1957 13.7415 17.0704 14.3918 16.0989 15.2527L14.9035 14.5625C14.273 14.1983 13.4666 14.4144 13.1026 15.045L11.3448 18.0896C10.9808 18.7202 11.1968 19.5265 11.8273 19.8905L13.0225 20.5806C12.8954 21.2101 12.8312 21.8523 12.8312 22.4999C12.8312 23.1475 12.8953 23.7898 13.0225 24.4193L11.8273 25.1093C11.1968 25.4733 10.9808 26.2796 11.3448 26.9102L13.1026 29.9548C13.4667 30.5854 14.2729 30.8014 14.9035 30.4373L16.0989 29.7471C17.0704 30.6081 18.1956 31.2583 19.4231 31.668V33.0469C19.4231 33.775 20.0134 34.3652 20.7415 34.3652H24.2571C24.9852 34.3652 25.5754 33.775 25.5754 33.0469V31.6682C26.8028 31.2585 27.9281 30.6082 28.8996 29.7473L30.095 30.4375C30.7256 30.8015 31.5319 30.5854 31.8959 29.955L33.6537 26.9104C33.8286 26.6076 33.8759 26.2477 33.7855 25.91C33.695 25.5722 33.4741 25.2843 33.1712 25.1095L31.976 24.4194C32.1031 23.7899 32.1672 23.1477 32.1672 22.5C32.1672 21.8523 32.1031 21.2101 31.976 20.5806L33.1712 19.8905C33.474 19.7158 33.695 19.4278 33.7855 19.0901ZM22.4992 26.0156C20.5576 26.0156 18.9836 24.4416 18.9836 22.5C18.9836 20.5584 20.5576 18.9844 22.4992 18.9844C24.4408 18.9844 26.0148 20.5584 26.0148 22.5C26.0148 24.4416 24.4408 26.0156 22.4992 26.0156Z"
                            fill="#13718A" />
                    </svg>
                </div>
                <div class="col-md-11 col-lg-11 col-10 conteudo-qualidade">
                    <p><b>Integração perfeita: </b>nossa solução é projetada para se integrar perfeitamente à sua
                        infraestrutura existente, minimizando interrupções e facilitando a transição.</p>
                </div>
            </div>

            <div class="col-12 cada-qualidade">
                <div class="col-md-1 col-lg-1 col-1 img-icone-qualidade">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none">
                        <path
                            d="M27.9592 3.69693L24.9967 3.27593L23.6769 0.666243C23.2288 -0.222081 21.7714 -0.222081 21.3234 0.666243L20.0037 3.27602L17.0412 3.69702C15.9545 3.85065 15.5204 5.19707 16.3177 5.95786L18.4433 7.97911L17.9425 10.827C17.755 11.8987 18.8802 12.7227 19.8441 12.2278L22.5001 10.8631L25.1562 12.2278C26.1336 12.732 27.2433 11.8875 27.0578 10.827L26.557 7.97911L28.6827 5.95778C29.48 5.19698 29.0459 3.85065 27.9592 3.69693Z"
                            fill="#13718A" />
                        <path
                            d="M43.8673 11.737L40.9048 11.316L39.5851 8.70628C39.137 7.81796 37.6796 7.81796 37.2316 8.70628L35.9119 11.316L32.9494 11.737C31.8627 11.8906 31.4286 13.237 32.2259 13.9978L34.3516 16.0192L33.8508 18.867C33.6633 19.9387 34.7885 20.7628 35.7524 20.2678L38.4083 18.9031L41.0644 20.2678C42.0466 20.7701 43.1506 19.9221 42.966 18.8669L42.4652 16.0191L44.5909 13.9977C45.3882 13.237 44.954 11.8906 43.8673 11.737Z"
                            fill="#13718A" />
                        <path
                            d="M12.051 11.737L9.08848 11.316L7.7687 8.70628C7.32062 7.81796 5.8632 7.81796 5.41521 8.70628L4.09552 11.316L1.13303 11.737C0.0462497 11.8906 -0.387848 13.237 0.409507 13.9978L2.53517 16.0192L2.03436 18.867C1.84689 19.9387 2.97208 20.7628 3.93599 20.2678L6.59191 18.9031L9.248 20.2678C10.2274 20.7702 11.3346 19.9241 11.1496 18.867L10.6488 16.0192L12.7745 13.9978C13.5718 13.237 13.1377 11.8907 12.051 11.737Z"
                            fill="#13718A" />
                        <path
                            d="M27.2551 28.8552C29.1607 27.4095 30.4124 25.1435 30.4124 22.5724C30.4124 18.2104 26.8641 14.6621 22.5021 14.6621C18.1401 14.6621 14.5919 18.2104 14.5919 22.5724C14.5919 25.1435 15.8436 27.4094 17.7492 28.8552C13.5695 30.6927 10.6367 34.8603 10.6367 39.7113V43.6664C10.6367 44.3951 11.2264 44.9848 11.9551 44.9848H33.0492C33.7779 44.9848 34.3675 44.3951 34.3675 43.6664V39.7113C34.3675 34.8603 31.4348 30.6927 27.2551 28.8552Z"
                            fill="#13718A" />
                    </svg>
                </div>
                <div class="col-md-11 col-lg-11 col-10 conteudo-qualidade">
                    <p><b>Experiência do paciente aprimorada:</b> proporcione resultados de alta qualidade de forma mais
                        rápida, melhorando a experiência do paciente e fortalecendo a confiança.</p>
                </div>
            </div>

            <div class="col-12 cada-qualidade">
                <div class="col-md-1 col-lg-1 col-1 img-icone-qualidade">
                    <svg xmlns="http://www.w3.org/2000/svg" width="39" height="52" viewBox="0 0 39 52" fill="none">
                        <path
                            d="M13.0013 8.66699C13.2864 8.66699 13.5393 8.80462 13.6973 9.01713L11.7538 10.9605L10.5282 9.7349C10.1897 9.39647 9.64098 9.39647 9.30254 9.7349C8.96411 10.0733 8.96411 10.6221 9.30254 10.9605L11.141 12.799C11.4795 13.1375 12.0282 13.1375 12.3666 12.799L13.868 11.2978V13.0003C13.868 13.479 13.48 13.867 13.0013 13.867H9.53464C9.05598 13.867 8.66797 13.479 8.66797 13.0003V9.53366C8.66797 9.055 9.05598 8.66699 9.53464 8.66699H13.0013Z"
                            fill="#13718A" />
                        <path
                            d="M8.66797 24.2671C8.66797 23.7884 9.05598 23.4004 9.53464 23.4004H13.0013C13.48 23.4004 13.868 23.7884 13.868 24.2671V27.7337C13.868 28.2124 13.48 28.6004 13.0013 28.6004H9.53464C9.05598 28.6004 8.66797 28.2124 8.66797 27.7337V24.2671Z"
                            fill="#13718A" />
                        <path
                            d="M9.53464 38.1338C9.05598 38.1338 8.66797 38.5218 8.66797 39.0005V42.4671C8.66797 42.9458 9.05598 43.3338 9.53464 43.3338H13.0013C13.48 43.3338 13.868 42.9458 13.868 42.4671V39.0005C13.868 38.5218 13.48 38.1338 13.0013 38.1338H9.53464Z"
                            fill="#13718A" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M2.6 0C1.16402 0 0 1.16406 0 2.6V49.4C0 50.836 1.16402 52 2.6 52H36.4C37.836 52 39 50.836 39 49.4V2.6C39 1.16406 37.836 0 36.4 0H2.6ZM6.93333 9.53333C6.93333 8.09735 8.09735 6.93333 9.53333 6.93333H13C13.7636 6.93333 14.4504 7.26249 14.926 7.78674L16.2872 6.42562C16.6256 6.08717 17.1744 6.08717 17.5128 6.42562C17.8513 6.76408 17.8513 7.31285 17.5128 7.65128L15.6 9.5641V13C15.6 14.436 14.436 15.6 13 15.6H9.53333C8.09735 15.6 6.93333 14.436 6.93333 13V9.53333ZM9.53333 21.6667C8.09735 21.6667 6.93333 22.8307 6.93333 24.2667V27.7333C6.93333 29.1693 8.09735 30.3333 9.53333 30.3333H13C14.436 30.3333 15.6 29.1693 15.6 27.7333V24.2667C15.6 22.8307 14.436 21.6667 13 21.6667H9.53333ZM6.93333 39C6.93333 37.564 8.09735 36.4 9.53333 36.4H13C14.436 36.4 15.6 37.564 15.6 39V42.4667C15.6 43.9026 14.436 45.0667 13 45.0667H9.53333C8.09735 45.0667 6.93333 43.9026 6.93333 42.4667V39ZM19.0667 8.66667C18.588 8.66667 18.2 9.05467 18.2 9.53333C18.2 10.012 18.588 10.4 19.0667 10.4H24.2667C24.7453 10.4 25.1333 10.012 25.1333 9.53333C25.1333 9.05467 24.7453 8.66667 24.2667 8.66667H19.0667ZM19.0667 23.4C18.588 23.4 18.2 23.788 18.2 24.2667C18.2 24.7453 18.588 25.1333 19.0667 25.1333H24.2667C24.7453 25.1333 25.1333 24.7453 25.1333 24.2667C25.1333 23.788 24.7453 23.4 24.2667 23.4H19.0667ZM18.2 39C18.2 38.5213 18.588 38.1333 19.0667 38.1333H24.2667C24.7453 38.1333 25.1333 38.5213 25.1333 39C25.1333 39.4787 24.7453 39.8667 24.2667 39.8667H19.0667C18.588 39.8667 18.2 39.4787 18.2 39ZM19.0667 12.1333C18.588 12.1333 18.2 12.5213 18.2 13C18.2 13.4787 18.588 13.8667 19.0667 13.8667H30.3333C30.812 13.8667 31.2 13.4787 31.2 13C31.2 12.5213 30.812 12.1333 30.3333 12.1333H19.0667ZM18.2 27.7333C18.2 27.2547 18.588 26.8667 19.0667 26.8667H30.3333C30.812 26.8667 31.2 27.2547 31.2 27.7333C31.2 28.212 30.812 28.6 30.3333 28.6H19.0667C18.588 28.6 18.2 28.212 18.2 27.7333ZM19.0667 41.6C18.588 41.6 18.2 41.988 18.2 42.4667C18.2 42.9453 18.588 43.3333 19.0667 43.3333H30.3333C30.812 43.3333 31.2 42.9453 31.2 42.4667C31.2 41.988 30.812 41.6 30.3333 41.6H19.0667Z"
                            fill="#13718A" />
                    </svg>
                </div>
                <div class="col-md-11 col-lg-11 col-10 conteudo-qualidade">
                    <p><b>Núcleo técnico operacional 24 horas:</b>Núcleo técnico operacional 24 horas: nosso núcleo
                        técnico operacional está operando 24/7. Não importa a hora, estamos prontos para fornecer
                        resultados laboratoriais críticos quando você mais precisa.</p>
                </div>
            </div>

            <div class="col-12 cada-qualidade">
                <div class="col-md-1 col-lg-1 col-1 img-icone-qualidade">
                    <svg xmlns="http://www.w3.org/2000/svg" width="39" height="54" viewBox="0 0 39 54" fill="none">
                        <path
                            d="M19.5007 24.0648C26.1356 24.0648 31.5331 18.6669 31.5331 12.0324C31.5331 5.39792 26.1356 0 19.5007 0C12.8663 0 7.46875 5.39751 7.46875 12.0324C7.46875 18.6669 12.8663 24.0648 19.5007 24.0648ZM19.5007 3.18317C24.3803 3.18317 28.35 7.15287 28.35 12.0324C28.35 16.9119 24.3803 20.8816 19.5007 20.8816C14.6216 20.8816 10.6519 16.9119 10.6519 12.0324C10.6519 7.15287 14.6216 3.18317 19.5007 3.18317Z"
                            fill="#13718A" />
                        <path
                            d="M16.7972 15.8908C17.106 16.1907 17.506 16.3412 17.9068 16.3412C18.2966 16.3412 18.6868 16.1984 18.9932 15.9124L24.5701 10.7008C25.2126 10.1006 25.2468 9.09355 24.6466 8.45146C24.0465 7.80897 23.0394 7.77479 22.3969 8.37497L17.9279 12.551L16.6246 11.2843C15.9943 10.6719 14.9865 10.6861 14.3741 11.3164C13.7613 11.9467 13.7759 12.9546 14.4062 13.567L16.7972 15.8908Z"
                            fill="#13718A" />
                        <path
                            d="M38.3227 41.2713C37.1728 39.3312 35.4683 37.8143 33.4826 36.8731C35.7942 34.3434 35.7271 30.4042 33.28 27.9571C30.7629 25.4401 26.6675 25.4401 24.1504 27.9571C23.9518 28.1557 23.7703 28.3649 23.6035 28.5817C24.5984 29.0497 25.5151 29.6913 26.3151 30.4913C29.0523 33.2289 29.8128 37.1994 28.5563 40.6223C29.8641 41.6831 30.9765 42.968 31.8452 44.4333C32.6057 45.7158 32.9805 47.1318 32.9711 48.5478H34.1454C35.9094 48.5478 37.4845 47.6311 38.3593 46.0959C39.2256 44.5749 39.2117 42.7711 38.3227 41.2713Z"
                            fill="#13718A" />
                        <path
                            d="M7.15407 44.4336C8.0228 42.9683 9.13526 41.6834 10.4434 40.6226C9.18653 37.1997 9.94703 33.2292 12.6842 30.4916C13.4842 29.6916 14.4009 29.05 15.3958 28.582C15.229 28.3652 15.0475 28.156 14.8489 27.9574C12.3319 25.44 8.23642 25.44 5.71935 27.9574C3.27226 30.4045 3.20512 34.3433 5.51671 36.8734C3.53105 37.8142 1.82655 39.3315 0.676654 41.2716C-0.21242 42.7714 -0.226255 44.5748 0.64044 46.0958C1.51487 47.6314 3.09038 48.5477 4.85388 48.5477H6.02859C6.01883 47.1317 6.39399 45.7161 7.15407 44.4336Z"
                            fill="#13718A" />
                        <path
                            d="M29.1084 46.0564C27.9581 44.1163 26.254 42.5994 24.2684 41.6583C26.58 39.1286 26.5128 35.1894 24.0657 32.7423C21.5487 30.2252 17.4532 30.2252 14.9361 32.7423C12.4891 35.1894 12.4219 39.1286 14.7335 41.6583C12.7478 42.5994 11.0438 44.1163 9.89345 46.0564C9.00438 47.5563 8.99054 49.36 9.85724 50.881C10.7321 52.4163 12.3072 53.333 14.0707 53.333H24.9312C26.6947 53.333 28.2702 52.4163 29.1446 50.881C30.0113 49.36 29.9975 47.5563 29.1084 46.0564Z"
                            fill="#13718A" />
                    </svg>
                </div>
                <div class="col-md-11 col-lg-11 col-10 conteudo-qualidade">
                    <p><b>Equipe de especialistas: </b>nossa equipe é composta por profissionais altamente
                        especializados, dedicados à missão de fornecer resultados precisos e apoiar decisões clínicas. A
                        expertise de nossos técnicos é a base da qualidade de nossos serviços.</p>
                </div>
            </div>

            <div class="col-12 cada-qualidade">
                <div class="col-md-1 col-lg-1 col-1 img-icone-qualidade">
                    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="53" viewBox="0 0 56 53" fill="none">
                        <path
                            d="M51.4579 21.081C50.7483 20.6045 50.1074 20.0331 49.5532 19.3824C49.5944 18.4764 49.7765 17.5824 50.093 16.7326C50.688 14.7183 51.429 12.2115 50.0009 10.2499C48.5625 8.27275 45.9347 8.20637 43.8235 8.15241C42.9354 8.18787 42.047 8.09238 41.1868 7.86895C40.7138 7.12701 40.3526 6.31951 40.1149 5.47229C39.4105 3.46618 38.533 0.969322 36.183 0.205618C33.9026 -0.535506 31.8562 0.872567 30.0518 2.1108C29.3266 2.68979 28.5125 3.14745 27.641 3.46609C26.769 3.14781 25.9544 2.69006 25.2291 2.1108C23.4246 0.871478 21.3776 -0.532151 19.0978 0.205618C16.7484 0.969322 15.8712 3.46491 15.166 5.47147C14.9288 6.31443 14.5716 7.11894 14.1054 7.86024C13.2424 8.09048 12.3496 8.18869 11.4572 8.1516C9.34616 8.20546 6.71836 8.27193 5.27991 10.249C3.8518 12.2117 4.59274 14.7185 5.18778 16.733C5.50062 17.5783 5.68434 18.4659 5.73267 19.3659C5.18098 20.0258 4.5377 20.6034 3.82242 21.0811C2.11909 22.38 0 23.9972 0 26.4997C0 29.0022 2.11909 30.6194 3.82278 31.9184C4.53235 32.3949 5.17327 32.9663 5.72741 33.6171C5.68624 34.523 5.50416 35.417 5.1876 36.2668C4.59265 38.2811 3.85162 40.7881 5.27973 42.7495C6.71818 44.7267 9.34598 44.793 11.4571 44.8471C12.3452 44.8116 13.2336 44.9071 14.0939 45.1306C14.5669 45.8725 14.928 46.6801 15.1657 47.5272C15.8709 49.5337 16.7482 52.0303 19.0981 52.7942C19.5144 52.9306 19.9499 53.0001 20.388 53C22.1567 53 23.7717 51.8899 25.2293 50.889C25.9545 50.3098 26.7686 49.8521 27.6402 49.5333C28.5122 49.8516 29.3268 50.3094 30.0522 50.8886C31.8566 52.1279 33.9031 53.5305 36.1834 52.7938C38.5328 52.0301 39.4101 49.5345 40.1153 47.5279C40.3525 46.685 40.7097 45.8805 41.1759 45.1392C42.0389 44.9089 42.9317 44.8107 43.8241 44.8478C45.9351 44.7939 48.5629 44.7275 50.0014 42.7504C51.4295 40.7878 50.6885 38.2808 50.0935 36.2664C49.7806 35.4211 49.5969 34.5336 49.5486 33.6335C50.1003 32.9736 50.7436 32.396 51.4589 31.9184C53.1614 30.6194 55.2805 29.0022 55.2805 26.4997C55.2806 23.9972 53.1615 22.38 51.4579 21.081ZM37.9065 22.3699L26.3897 33.8866C25.4905 34.7861 24.0324 34.7864 23.133 33.8872C23.1328 33.887 23.1326 33.8868 23.1325 33.8866L17.374 28.1282C16.4632 27.2402 16.4447 25.7819 17.3327 24.871C18.2207 23.9601 19.679 23.9416 20.5899 24.8297C20.6039 24.8433 20.6176 24.857 20.6312 24.871L24.7611 29.0009L34.6493 19.1126C35.5373 18.2017 36.9956 18.1833 37.9065 19.0713C38.8174 19.9594 38.8358 21.4177 37.9478 22.3285C37.9342 22.3426 37.9204 22.3563 37.9065 22.3699Z"
                            fill="#13718A" />
                    </svg>
                </div>
                <div class="col-md-11 col-lg-11 col-10 conteudo-qualidade">
                    <p><b>Padrões internacionais de qualidade e segurança:</b> No Laboratório Mastellini, mantemos os
                        mais altos padrões de qualidade e segurança, reconhecidos globalmente. Cada teste que realizamos
                        reflete nosso compromisso com a excelência.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-parceiro-video" data-scroll-index='4'>
    <div class="container">
        <div class="row">
            <iframe width="100%" height="650" src="https://www.youtube.com/embed/B3oVn-9v4EU"
                title="Conheça o nosso NTO - Núcleo Técnico Operacional" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

</section>

<section class="section-parceiro-final" data-scroll-index='5'>
    <div class="container">
        <div class="row lista-imgs">
            <div class="col-md-6 col-lg-6 col-12 bloco-imgs">
                <img src='image/img_lp_2.png' alt="" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-6 col-12 bloco-imgs">
                <img src='image/img_lp_3.png' alt="" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-6 col-12 bloco-imgs">
                <img src='image/img_lp_4.png' alt="" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-6 col-12 bloco-imgs">
                <img src='image/img_lp_5.png' alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="section-parceiro-final2" data-scroll-index='5'>
    <div class="container">
        <div class="row ">
            <div class="box-posicao">
                <div class="col-12 box-fim">
                    <p>
                        Estamos determinados a elevar os padrões laboratoriais nas instituições de saúde.
                        Saiba mais com a nossa equipe. <br><br>

                        Entre em contato conosco hoje e descubra como podemos impulsionar a excelência em seus serviços
                        laboratoriais.

                    </p>
                </div>
            </div>

            <div class="cabecalho-interna-trabalhe-conosco bloco-formulario2">
                <div class="col-md-6 col-lg-6 col-12 titulo-trabalhe-conosco">
                    <h2>Para mais informações, fale com nossa equipe</b></h2>

                    <p>Ofereça nossa qualidade e excelência para seus clientes. Para se tornar um parceiro do Grupo
                        Mastellini, preencha os dados abaixo que retornaremos o contato o mais breve possível.</p>
                </div>
            </div>


            <div class="div-formulario-busca-vaga">
                <form id="form-trabalhe-conosco" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-5 col-lg-5 col-12">
                            <label for="iName">Nome:<span>*</span></label>
                            <input type="text" class="form-control" id="iName" name="iName" required>
                        </div>

                        <div class="form-group col-md-3 col-lg-3 col-12">
                            <label for="iTelefone">Telefone/Celular:<span>*</span></label>
                            <input type="text" class="form-control" id="iTelefone" name="iTelefone" required>
                        </div>
                        <div class="form-group col-md-4 col-lg-4 col-12">
                            <label for="iEmail">Email:<span>*</span></label>
                            <input type="email" class="form-control" id="iEmail" name="iEmail" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-2 col-lg-2 col-12">
                            <label for="iEstado">Estado:<span>*</span></label>
                            <select id="iEstado" class="form-control" name="iEstado" required>
                                <option value="">Selecione</option>
                                <option value="SP">SP</option>
                                <option value="SC">SC</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4 col-lg-4 col-12">
                            <label for="iCidade">Cidade:<span>*</span></label>
                            <input type="text" class="form-control" id="iCidade" name="iCidade" required>
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-12">
                            <label for="iFile">Currículo:<span>*</span></label>
                            <input class="form-control" type="file" id="iFile" name="iFile" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12 col-lg-12 col-12">
                            <label for="iMsg">Mensagem:<span>*</span></label>
                            <textarea class="form-control" id="iMsg" name="iMsg" rows="10" required></textarea>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-enviar">Enviar mensagem</button>
                </form>


            </div>
        </div>
    </div>
    <script src="/js/parceiro.js"></script>
</section>